@mixin panel($background-color, $padding, $heigth) {
    background-color: $background-color;
    padding: $padding;
    padding-right: $fourth-size;
    height: $heigth;
    margin-top: -$tenth-size;
    border-top-left-radius: $tenth-size;
    border-top-right-radius: $tenth-size;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include scrollbar($dark-gray-03-color);
}

@mixin scrollbar($background-color) {
    scrollbar-color: $background-color transparent;
    scrollbar-width: thin;

    &::-webkit-scrollbar-track {
        background-color: transparent;
        border-radius: 50rem;
    }

    &::-webkit-scrollbar-track-piece:start {
        margin-top: $tenth-size;
    }

    &::-webkit-scrollbar {
        width: $third-size;
        height: $third-size;
        background-color: transparent;
        border-radius: 50rem;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $background-color;
        border-radius: 50rem;
    }
}

@mixin card {
    background: $white-color;
    border: 1px solid $light-gray-01-color;
    box-sizing: border-box;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.08);
    border-radius: $fifth-size;

    &.card-active {
        border-left: 4px solid $pacific-color;
    }

    &.card-success {
        border-left: 4px solid $lime-green-color;
    }

    &.card-error {
        border-left: 4px solid $red-color;
    }

    &.card-warning {
        border-left: 4px solid $orange-color;
    }

    &.card-loading {
        border-left: 4px solid $malibu-color;
    }

    &.card-disabled {
        border-left: 4px solid $dark-gray-03-color;
        cursor: not-allowed;
        pointer-events: none;
    }
}

@mixin input {
    display: flex;
    height: $twentieth-size;
    border-radius: $thirtieth-size;
    border: $first-size solid;
    border-color: $light-gray-02-color;
    padding-left: $eighth-size;
    background-color: $light-gray-02-color;
    color: $dark-gray-01-color;
    font-size: $seventh-size;
    transition: all 0.3s ease;

    &:hover {
        background-color: $input-hover-color;
    }

    &:focus {
        outline: none;
        border: $first-size solid;
        border-color: $pacific-color;
        box-sizing: border-box;
        caret-color: $pacific-color;
    }

    &.input-error {
        border-color: $red-color;
    }
}

@mixin form {
    &.form-disabled {
        opacity: 0.6;
        cursor: not-allowed !important;

        & input,
        & input:read-only,
        & label,
        & .dropdown-container,
        & .input-file-container,
        & .organism-input-file-container,
        & .container-button {
            pointer-events: none;
        }
    }
}

@mixin alert-inline($type) {
    padding: $fourth-size;
    border-radius: $fifth-size;

    @if $type==info {
        background-color: rgba(0, 133, 202, 0.1);
    } @else if $type==danger {
        background-color: rgba(253, 107, 107, 0.2);
    }
}

@mixin radio($type) {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 24px;
    align-items: center;

    & input[type="radio"] {
        display: none;

        &:checked ~ label span p {
            font-weight: 500 !important;
        }
    }

    & label {
        width: max-content;
        cursor: pointer;

        & span {
            padding-left: 34px;
            display: flex;
            align-items: center;

            & p {
                line-height: 1.3;
            }
        }

        &:before {
            content: "";
            border-radius: 50%;
            height: 10px;
            width: 10px;
            position: absolute;
            left: 5px;
            top: 7px;
            background-color: transparent;
            transition: all 0.3s ease;
        }

        &:after {
            content: "";
            border-radius: 50%;
            height: 20px;
            width: 20px;
            position: absolute;
            border: 2px solid $light-gray-02-color;
            left: 0;
            top: 2px;
            transition: all 0.3s ease;
        }
    }

    @if $type==pacific {
        & input[type="radio"] {
            &:checked ~ label:before {
                background-color: $pacific-color;
            }

            &:checked ~ label:after {
                border-color: $pacific-color;
            }
        }

        & label:hover {
            & span p {
                color: $pacific-color !important;
            }
        }
    } @else if $type==malibu {
        & input[type="radio"] {
            &:checked ~ label:before {
                background-color: $malibu-color;
            }

            &:checked ~ label:after {
                border-color: $malibu-color;
            }
        }

        & label:hover {
            & span p {
                color: $malibu-color !important;
            }
        }
    }
}

@mixin skeleton {
    animation: change-background 1s ease-in-out infinite;
    -webkit-animation: change-background 1s ease-in-out infinite;
    -moz-animation: change-background 1s ease-in-out infinite;
    opacity: 0.3;
}

@keyframes change-background {
    0% {
        background: rgba(198, 198, 198, 0.4);
    }

    100% {
        background: rgba(198, 198, 198, 0.86);
    }
}

@-moz-keyframes change-background {
    0% {
        background: rgba(198, 198, 198, 0.4);
    }

    100% {
        background: rgba(198, 198, 198, 0.86);
    }
}

@-webkit-keyframes change-background {
    0% {
        background: rgba(198, 198, 198, 0.4);
    }

    100% {
        background: rgba(198, 198, 198, 0.86);
    }
}
