@import "./main.scss";

p[id^='atomText-'] {

  & ol,
  & ul {
    padding-top: $fifth-size !important;
    padding-bottom: $fifth-size !important;

    & ol,
    & ul {
      padding-top: 0 !important;

      &:last-child {
        padding-bottom: 0 !important;
      }

    }

    &:only-child {
      padding-bottom: 0 !important;
    }

    & li {
      padding-bottom: $fifth-size !important;

      &::marker {
        font-weight: bold;
      }

      &:last-child {
        padding-bottom: 0 !important;
      }
    }

  }
}

.containerBot {
  &.disabled {
    & .confirmation-container {
      opacity: 0.6;
      cursor: not-allowed;

      &-option {
        pointer-events: none !important;
      }
    }

    & .selection-container {
      opacity: 0.6;
      cursor: not-allowed;

      &-option {
        pointer-events: none !important;
      }
    }
  }
}

.refund-container {

  .v-bottom-sheet.v-dialog {
    border-radius: $tenth-size !important;
  }

  .modal-container {

    & .v-overlay {
      position: absolute !important;
    }

    & .v-dialog__content {
      position: relative !important;
    }

  }

}

.chat-container {
  & .chat-footer-container-skeleton {
    & input[type="text"] {
      @include skeleton;
      color: transparent;

      &::placeholder {
        color: transparent;
      }

      pointer-events: none;
    }

    & .container-button {
      @include skeleton;

      & g {
        fill: transparent !important;
      }

      pointer-events: none;
    }
  }

}

.container-root .conversation-card-container-skeleton,
.container-root .refund-card-container-skeleton {
  & .atom-text {
    @include skeleton;
    color: transparent !important;
    border-radius: 30px;
  }

  .conversation-card-container-body-icon svg,
  .refound-card-container-body-icon svg {
    @include skeleton;
    border-radius: 50%;
    height: 33px;
    width: 33px;
    & g {
      fill: transparent !important;
    }
  }

  & .container-button {
    @include skeleton;
    background-color: white;

    & g {
      fill: transparent !important;
    }

    pointer-events: none;
  }
}