/* ==========================    COLORS     =============================== */

// PRIMARY COLORS
$primary-color: #139abb;

$pacific-color: #0085ca;
// camila 0085CA
// nova 139ABB
// emma 217EE6
$malibu-color: #6ec1e4;

// NEUTRALS COLORS
$white-color: #ffffff; // Text - Background

$dark-gray-01-color: #4a4a4a; // Card Text - Bubble Chat Text
$dark-gray-02-color: #8e8e8e; // Home Footer Text - Chat Message Time
$dark-gray-03-color: #afafaf; // Buttons Disabled Text - Card Default Left Border

$light-gray-01-color: #e3e3e3; //Card Border - Footer Top Border
$light-gray-02-color: #ededed; // Input Background - Buttons Disabled Background
$light-gray-03-color: #fafafa; //Home Background Panel

$bubble-background: #f5f5f5; //Bubble Background - Chat message

// ERROR COLORS
$red-color: #fd6b6b; // Card Error Left Border - Buttons - Confirmation Modal - Alerts - Input Error Message and Border

// WARNING COLORS
$orange-color: #ef9033; // Alerts - Buttons

// SUCCESS COLORS
$lime-green-color: #1eb918; // Card Success Left Border - Text

// HOVERS
$primary-hover-color: #139abb;
$pacific-hover-color: #2995ca;
$malibu-hover-color: #43b2e2;
$red-hover-color: #fa5858;
$orange-hover-color: #f3861a;
$lime-green-hover-color: #1aa715;
$input-hover-color: #e5e5e5d4;
$white-hover-color: $light-gray-03-color;

/* ==========================    SIZES     =============================== */

// SIZES (2-10px)
$first-size: 0.125rem; // (2px)
$second-size: 0.25rem; // (4px)
$third-size: 0.375rem; // (6px)
$fourth-size: 0.5rem; // (8px)
$fifth-size: 0.625rem; // (10px)

// SIZES (12-20px)
$sixth-size: 0.75rem; // (12px)
$seventh-size: 0.875rem; // (14px)
$eighth-size: 1rem; // (16px)
$nineth-size: 1.125rem; // (18px)
$tenth-size: 1.25rem; // (20px)

// SIZES (22-30px)
$eleventh-size: 1.375rem; // (22px)
$twelfth-size: 1.5rem; // (24px)
$thirteenth-size: 1.625rem; // (26px)
$fourteenth-size: 1.75rem; // (28px)
$fifteenth-size: 1.875rem; // (30px)

// SIZES (32-40px)
$sixteenth-size: 2rem; // (32px)
$seventeenth-size: 2.125rem; // (34px)
$eighteenth-size: 2.25rem; // (36px)
$nineteenth-size: 2.375rem; // (38px)
$twentieth-size: 2.5rem; // (40px)

// SIZES (42-50px)
$twenty-first-size: 2.625rem; // (42px)
$twenty-second-size: 2.75rem; // (44px)
$twenty-third-size: 2.875rem; // (46px)
$twenty-fourth-size: 3rem; // (48px)
$twenty-fifth-size: 3.125rem; // (50px)

// SIZES (52-60PX)
$twenty-sixth-size: 3.25rem; // (52px)
$twenty-seventh-size: 3.375rem; // (54px)
$twenty-eighth-size: 3.5rem; // (56px)
$twenty-nineth-size: 3.625rem; // (58px)
$thirtieth-size: 3.75rem; // (60px)

// PATH IMAGE BACKGROUND
$path-background-header: "https://ik.imagekit.io/innovit/header-background_rFZn8whtC.svg";
