<template>
<div class="chat-container">
    <OrganismGeneralHeader page="chat" />
    <transition-group enter-active-class="animate__animated animate__slideInUp animate__faster" leave-active-class="animate__animated animate__fadeOut animate__faster" class="chat-container-panel" id="panel_chat" :style="panelPadding">
        <OrganismChatDialog v-for="message of messagesChat" :key="message.id" :type="message.type" :text="message.text" :statusLastMessage="lastMessage.time" :isLastMessage="
          message.id === messagesChat[messagesChat.length - 1].id &&
          message.text !== ''
        " :options="message.options" :alert="message.alert" v-show="showElements" :class="{
          disabled:
            message.id !== messagesChat[messagesChat.length - 1].id &&
            message.options !== undefined &&
            message.options.type !== '',
        }" />
    </transition-group>
    <transition enter-active-class="animate__animated animate__zoomIn animate__faster" leave-active-class="animate__animated animate__zoomOut animate__faster">
        <!-- Componente derivación agente -->
        <OrganismAgentDerivation v-show="showAgentDerivation" key="agent_derivation_component" id="agent_derivation_component" class="chat-container-agent-derivation" />
    </transition>
    <transition enter-active-class="animate__animated animate__zoomIn animate__faster" leave-active-class="animate__animated animate__zoomOut animate__faster">
        <!-- Componente transferencia agente -->
        <OrganismAgentTransfer v-show="showAgentTransfer" key="agent_transfer_component" id="agent_transfer_component" class="chat-container-agent-transfer" />
    </transition>
    <transition-group enter-active-class="animate__animated animate__slideInUp">
        <div class="chat-container-footer" v-if="showElements" key="footer">
            <OrganismChatFooter :value="userInput" :action="onSubmit" :loading="loading" :disabled="disabled" :inputDisabled="inputDisabled" :showSkeleton="showFooterSkeleton" />
        </div>
        <div class="chat-container-link-primary-color" key="link">
            <a href="https://www.innovit.ai/" target="_blank">
                <AtomText text="Powered By Innovit" color="dark-gray-02" size="caption" weight="regular" />
            </a>
        </div>
    </transition-group>
</div>
</template>

<script>
import {
    OrganismChatDialog,
    OrganismGeneralHeader,
    OrganismChatFooter,
    OrganismAgentDerivation,
    OrganismAgentTransfer,
    AtomText,
    AtomTyping,
} from "@/components";
import { mapMutations, mapState, mapActions, mapGetters } from "vuex";
import { EventBus } from "@/EventBus";
import { getAlertData } from "@/utils/alertData";
import { scrollTo } from "@/utils/scrollTo";
import { handleStyle } from "@/utils/globalStyle";

export default {
    name: "ChatPage",
    components: {
        OrganismChatDialog,
        OrganismGeneralHeader,
        OrganismChatFooter,
        OrganismAgentDerivation,
        OrganismAgentTransfer,
        AtomText,
        AtomTyping,
    },
    data: () => ({
        userInput: "",
        loading: false,
        disabled: false,
        showElements: false,
        showAgentDerivation: false,
        showAgentTransfer: false,
        showPendingAgentTransfer: false,
        endingInteractionPending: false,
        endingInteractionMessage: "",
        panelPadding: null,
        showFooterSkeleton: false,
        agentDerivationInProgress: false,
        notifications: 0,
        agentTyping: false,
        agentMessageFailure: false,
        retryInteraction: false,
        irisInteraction: false,
        agentStartTime: process.env.VUE_APP_AGENT_START,
        agentStartTimeMin: process.env.VUE_APP_AGENT_START_MIN,
        agentEndTime: process.env.VUE_APP_AGENT_END,
        agentEndTimeMin: process.env.VUE_APP_AGENT_END_MIN,
        agentEndTimeFriday: process.env.VUE_APP_AGENT_END_FRIDAY,
        agentEndTimeFridayMin: process.env.VUE_APP_AGENT_END_FRIDAY_MIN,
    }),
    computed: {
        ...mapState([
            "lastMessage",
            "messagesChat",
            "token",
            "lastRequestChat",
            "channel",
            "agent",
            "channelSuscription",
            "activePage",
            "statusChatbot",
            "agentDerivationStatus",
        ]),
        ...mapGetters([
            "getLastMessage",
            "lastMessageIsTyping",
            "getMessageOutOfTime",
        ]),
        inputDisabled: function () {
            return (
                this.showAgentDerivation ||
                !this.token ||
                this.getLastMessage.alert.show ||
                this.getLastMessage.options.type === "confirmation" ||
                this.getLastMessage.options.type === "confirmation_agent_derivation" ||
                this.agentDerivationInProgress ||
                this.agentMessageFailure
            );
        },
    },
    methods: {
        ...mapMutations([
            "saveLastMessage",
            "saveToken",
            "saveMessage",
            "deleteLastMessage",
            "updateLastMessageOfArray",
            "saveIrisInteraction",
            "saveAgentData",
            "saveAlertDataToAgent",
            "saveAgentTransfer",
            "replaceLastMessage",
            "saveChannelSuscription",
            "updateHasNotification",
            "updateAgentDerivationStatus",
            "saveAgentMessage",
            "resetAgentData",
            "updateIrisInteractionStatus",
        ]),
        ...mapActions([
            "getToken",
            "sendMessage",
            "sendOption",
            "sendMessageToSimone",
            "sendMessageToGenesys",
            "startAgentDerivation",
            "startAgentDerivationGenesys"
        ]),
        handleEndingInteractionMessage: function (alertData) {
            switch (this.endingInteractionMessage) {
                case "agent_10":
                case "agent_2":
                    if (this.endingInteractionMessage === "agent_10" || "agent_2") {
                        // inicio emular reintento a los 2 min, borrarla despues
                        this.saveMessage({
                            text: "",
                            type: "bot",
                            alert: {},
                            options: {},
                        });
                        this.loading = true;
                        this.scrollingPanel();
                        setTimeout(() => {
                            const text = `<b>Al parecer nuestros ejecutivos están ocupados en estos momentos.</b>
                            ¿Deseas volver a intentarlo?`;
                            let messageToSave = {
                                id: "",
                                text,
                                type: "bot",
                                alert: {},
                                options: { type: "confirmation_agent_derivation" },
                            };
                            this.updateLastMessageOfArray(messageToSave);
                            this.loading = false;
                            this.saveLastMessage("chat");
                            this.checkChatNotifications();
                            this.scrollingPanel(100);
                        }, 1000);
                        // fin emular reintento a los 2 min
                    }
                    break;
                case "user_5":
                    // inicio emular reintento a los 2 min, borrarla despues
                    this.saveMessage({
                        text: "",
                        type: "bot",
                        alert: {},
                        options: {},
                    });
                    this.loading = true;
                    this.scrollingPanel();
                    setTimeout(() => {
                        const text = `
                  Hemos finalizado la comunicación con nuestro agente debido a que <b>el tiempo de inactividad fue demasiado largo.</b>
                  </br> ¿Quieres volver a conectarte con uno de nuestros agentes?
                  `;
                        let messageToSave = {
                            id: "",
                            text,
                            type: "bot",
                            alert: {},
                            options: { type: "confirmation_agent_derivation" },
                        };
                        this.updateLastMessageOfArray(messageToSave);
                        this.loading = false;
                        this.saveLastMessage("chat");
                        this.checkChatNotifications();
                        this.scrollingPanel(100);
                    }, 1000);
                    // fin emular reintento a los 2 min
                    break;
                default:
                    let currentLastMessage = this.getLastMessage;
                    if (
                        currentLastMessage.type === "agent" &&
                        currentLastMessage.text !== ""
                    ) {
                        this.saveAlertDataToAgent(alertData);
                        this.scrollingPanel(100);
                    } else {
                        let alertResponse = {
                            id: "",
                            text: "",
                            type: "alert",
                            alert: alertData,
                            options: {},
                            agentData: { id: "", firstName: "", lastName: "" },
                        };
                        this.saveMessage(alertResponse);
                        this.scrollingPanel(100);
                    }
                    break;
            }
        },
        handleNotification: function () {
            if (this.activePage === "chat") {
                if (this.statusChatbot) {
                    this.updateHasNotification({ type: "chat", show: false });
                } else {
                    this.notifications++;
                    // Notifica cada 3 mensajes
                    if ((this.notifications + 2) % 3 === 0) {
                        EventBus.$emit("playNotificationSound");
                    }
                    this.updateHasNotification({ type: "chat", show: true });
                }
            }
        },
        changePanelPadding: function (component) {
            switch (component) {
                case "showAgentTransfer":
                    this.calculatePanelPadding("agent_transfer_component").then(
                        (value) => {
                            this.panelPadding = value;
                            this.scrollingPanel(800);
                        }
                    );
                    break;
                case "showAgentDerivation":
                    this.calculatePanelPadding("agent_derivation_component").then(
                        (value) => {
                            this.panelPadding = value;
                            this.scrollingPanel(300);
                        }
                    );
                    break;
                default:
                    this.panelPadding = null;
                    break;
            }
        },
        calculatePanelPadding(componentId) {
            /* Calculo del padding bottom del panel para componente */
            return new Promise((resolve) => {
                setTimeout(() => {
                    const componentHeight = document.getElementById(componentId)
                        .clientHeight;
                    if (componentHeight === 0) {
                        resolve(null);
                    } else {
                        let newPadding =
                            document.getElementById(componentId).clientHeight + 5;
                        resolve({ paddingBottom: `${newPadding}px` });
                    }
                }, 600);
            });
        },
        // funcion para hacer scroll al ingresar a la pagina de chat
        autoScrolling() {
            const panel = document.getElementById("panel_chat");
            if (!this.panelPadding && this.showAgentDerivation) {
                this.changePanelPadding("showAgentDerivation");
                return null;
            }
            // queda por probar la wea ésta
            if (!this.panelPadding && this.showAgentTransfer) {
                this.changePanelPadding("showAgentTransfer");
                return null;
            }
        },
        onSubmit() {
            if (
                this.userInput !== "" &&
                this.token &&
                !this.showAgentDerivation &&
                !this.loading
            ) {
                const newMessage = {
                    text: this.userInput,
                    type: "client",
                    alert: {},
                    options: {},
                };
                this.disabled = true;
                this.userInput = "";
                if (!this.irisInteraction) {
                    this.saveMessage(newMessage);
                } else {
                    let currentLastMessage = this.getLastMessage;
                    if (currentLastMessage.text === "") {
                        this.saveAgentMessage(newMessage);
                    } else {
                        this.saveMessage(newMessage);
                    }
                }
                this.scrollingPanel();
                if (!this.irisInteraction) {
                    this.saveMessage({ text: "", type: "bot", alert: {}, options: {} });
                    this.loading = true;
                }
                setTimeout(() => {
                    this.sendNewMessage(newMessage.text);
                }, 500);
            }
        },
        scrollingPanel(delay = 0) {
            const panel = this.$el.querySelector("#panel_chat");
            setTimeout(() => {
                scrollTo(panel, panel.scrollHeight, 800);
            }, delay);
        },
        // Obtine session / token y muestra primer mensaje desde store
        async initConversation() {
            // Cambiar esto una vez que tengamos token
            if (!this.token) {
                this.showFooterSkeleton = true;
                await this.getToken();
                this.showFooterSkeleton = false;
            }
        },
        async sendNewMessage(message) {
            if (!this.irisInteraction) {
                await this.sendMessage(message);
            } else {
                await this.sendMessageToSimone({ message, agentId: this.agent.id });
            }
            this.loading = false;
            this.scrollingPanel();
        },
        async sendNewOption(option, text) {
            // this.loading = true;
            await this.sendOption({ intent: option, text });
            this.loading = false;
            this.scrollingPanel();
        },
        disableFooter() {
            this.disabled = true;
            this.inputDisabled = true;
        },
        getCustomTime(year, month, day, hour, minutes) {
            return new Date(year, month, day, hour, minutes).getTime();
        },
        clientIsOutOfTime() {
            const now = new Date();
            const year = now.getFullYear();
            const month = now.getMonth();
            const day = now.getDate();

            // si es diferente de domingo y sabado
            if (now.getDay() !== 0 && now.getDay() !== 6) {
                // si es diferente de viernes
                if (now.getDay() !== 5) {
                    if (
                        now.getTime() >
                        this.getCustomTime(
                            year,
                            month,
                            day,
                            this.agentStartTime || 8,
                            this.agentStartTimeMin || 30
                        ) &&
                        now.getTime() <
                        this.getCustomTime(
                            year,
                            month,
                            day,
                            this.agentEndTime || 23,
                            this.agentEndTimeMin || 0
                        )
                    ) {
                        return false;
                    } else {
                        return true;
                    }
                }
                // si es viernes
                else {
                    if (
                        now.getTime() >
                        this.getCustomTime(
                            year,
                            month,
                            day,
                            this.agentStartTime || 8,
                            this.agentStartTimeMin || 30
                        ) &&
                        now.getTime() <
                        this.getCustomTime(
                            year,
                            month,
                            day,
                            this.agentEndTimeFriday || 23,
                            this.agentEndTimeFridayMin || 0
                        )
                    ) {
                        return false;
                    } else {
                        return true;
                    }
                }
            } else {
                return true;
            }
        },
        async startNewAgentDerivation() {
            this.agentDerivationInProgress = true;
            this.updateAgentDerivationStatus(true);
            this.changePanelPadding("showAgentDerivation");
            await this.startAgentDerivation();
            this.agentDerivationInProgress = false;
            if (!this.agentDerivationStatus) {
                this.scrollingPanel(1000);
            }
        },
        async startNewAgentDerivationGenesys() {
            this.agentDerivationInProgress = true;
            this.updateAgentDerivationStatus(true);
            this.changePanelPadding("showAgentDerivation");
            await this.startAgentDerivationGenesys();
            this.agentDerivationInProgress = false;
            if (!this.agentDerivationStatus) {
                this.scrollingPanel(1000);
            }
        },
        checkChatNotifications() {
            if (this.activePage === "chat") {
                if (this.statusChatbot) {
                    this.updateHasNotification({ type: "chat", show: false });
                } else {
                    EventBus.$emit("playNotificationSound");
                    this.updateHasNotification({ type: "chat", show: true });
                }
            }
        },
    },
    created() {
        const that = this;
        /* PUSHER */
        this.$store.watch((state) => {
            /* Espera a que el canal este establecido */
            if (state.channel) {
                state.channel.bind("message-chat-bot", (data) => {
                    this.saveMessage({
                        text: data.message,
                        type: "bot",
                        alert: {
                            show: false
                        },
                        options: {
                            type: ""
                        }
                    });
                    this.updateLastMessageOfArray({
                        text: data.message,
                        alert_type: ""
                    });
                    this.saveLastMessage("chat");
                    this.scrollingPanel();
                });
                state.channel.bind("pusher:subscription_succeeded", function () {
                    that.saveChannelSuscription(true);
                });
                state.channel.bind("pusher:subscription_error", (error) => {
                    console.log(error);
                });
                state.channel.bind("start-interaction", function (data) {
                    that.irisInteraction = true;
                });
                /* Espera a que se establezca la interaccion */
                if (that.irisInteraction) {
                    state.channel.bind("finish-interaction", function (data) {
                        that.saveToken({token: data.token_nuevo});
                        state.channel.unbind("finish-interaction");
                        state.channel.unbind("message");
                        state.channel.unbind("agent-typing");
                        that.updateIrisInteractionStatus();
                        // se guardan los datos de la alerta en la prop alert del ultimo mensaje del array
                        // aqui poner logica para mostrar la alerta de interaccion finalizada
                        that.endingInteractionMessage = data.message;
                        if (!that.endingInteractionPending) {
                            let alertData = getAlertData("agent_interaction_finished");
                            alertData.show = true;
                            alertData.closeEvent = "closeInteractionFinished";
                           // that.checkPendingEndingInteraction();
                            that.handleEndingInteractionMessage(alertData);
                        }
                        that.checkChatNotifications();
                    });
                    state.channel.bind("message", function ( payload ) {
                        /* Mostrar notificacion si el usuario se encuentra en otra page o el bot esta minimizado */
                        that.handleNotification();
                        const { agentId, agentFirstName, agentLastName, message } = payload;
                        // variable que se guardara como ultimo mensaje en el array
                        let agentResponse = {
                            id: "",
                            text: "",
                            type: "",
                            alert: {},
                            options: {},
                            agentData: { id: "", firstName: "", lastName: "" },
                        };
                        // Si el ultimo mensaje es de un agente diferente
                        if (
                            that.agent.id !== agentId ||
                            that.agent.firstName !== agentFirstName ||
                            that.agent.lastName !== agentLastName
                        ) {
                            // Si existia un agente antes (es decir, hubo una transferencia)
                            if (
                                that.agent.id &&
                                that.agent.firstName &&
                                that.agent.lastName
                            ) {
                                that.saveAgentTransfer(true);
                                that.checkPendingTranfer();
                                if (!that.showPendingAgentTransfer) {
                                    that.showAgentTransfer = true;
                                    setTimeout(() => {
                                        that.showAgentTransfer = false;
                                    }, 5000);
                                }
                            }
                            that.saveAgentData({
                                id: agentId,
                                firstName: agentFirstName,
                                lastName: agentLastName,
                            });
                        }
                        // La interacción tiene que estar en true para recibir mensajes del agente
                        if (that.irisInteraction) {
                            agentResponse.text = message;
                            agentResponse.type = "agent";
                            agentResponse.agentData.id = agentId;
                            agentResponse.agentData.firstName = agentFirstName;
                            agentResponse.agentData.lastName = agentLastName;
                            // Emitir este evento para que suene la notificacion
                            // EventBus.$emit("playNotificationSound");
                            if (that.agentTyping) {
                                that.saveAgentMessage(agentResponse);
                                that.agentTyping = false;
                                that.deleteLastMessage();
                                that.saveLastMessage("chat");
                                that.scrollingPanel(100);
                            } else {
                                that.saveMessage(agentResponse);
                                that.saveLastMessage("chat");
                                that.scrollingPanel(100);
                                that.agentTyping = false;
                            }
                        }
                    });
                    //   captura cuando el agente este escribiendo
                    state.channel.bind(
                        "agent-typing",
                        ({ agentId, agentFirstName, agentLastName }) => {
                            that.saveAgentData({
                                id: agentId,
                                firstName: agentFirstName,
                                lastName: agentLastName,
                            });
                            this.updateAgentDerivationStatus(false);
                            if (that.agentTyping) {} else {
                                that.agentTyping = true;
                                let simulateAgentTyping = {
                                    id: "",
                                    text: "",
                                    type: "agent",
                                    alert: {},
                                    options: {},
                                    agentData: {
                                        id: "",
                                        name: "",
                                    },
                                };
                                that.saveMessage(simulateAgentTyping);
                                that.scrollingPanel(200);
                            }
                        }
                    );
                }
            }
        });
    },
    mounted() {
        this.showElements = true;
        this.initConversation();

        EventBus.$on("showAlert", (payload) => {
            this.agentMessageFailure = payload;
        });
        EventBus.$on("updateIrisInteractionStatus", () => {
            this.resetAgentData();
            this.showAgentDerivation = false;
            this.updateAgentDerivationStatus(false);
            this.agentDerivationInProgress = false;
            this.irisInteraction = false;
            this.retryInteraction = false;
        });
        EventBus.$on("updateAgentDerivationStatus", (payload) => {
            if (payload) {
                this.showAgentDerivation = true;
            } else {
                this.showAgentDerivation = false;
                this.changePanelPadding("");
            }
        });
        EventBus.$on("chat-input-text", (value) => {
            this.userInput = value.trim();
            if (this.userInput && this.token && !this.showAgentDerivation) {
                this.disabled = false;
            } else {
                this.disabled = true;
            }
        });
        // Logica al cerrar alerta en chat (Reenviamos el último mensaje de usuario)
        EventBus.$on("closeChatAlert", () => {
            // Gatillamos typing nuevamente
            this.updateLastMessageOfArray({ text: "", options: {}, alert_type: "" });
            this.saveLastMessage("chat");
            // this.scrollingPanel();

            // Si la última llamada fue obtener token y falló la volvemos a hacer
            if (this.lastRequestChat.type === "token") {
                this.initConversation();
            }
            // Si la última llamada fue enviar texto y falló la volvemos a hacer
            if (
                this.lastRequestChat.type === "text" &&
                this.lastRequestChat.text !== ""
            ) {
                this.loading = true;
                setTimeout(() => {
                    this.sendNewMessage(this.lastRequestChat.text);
                }, 1000);
            }
            // Si la última llamada fue enviar una opción y falló la volvemos a hacer
            if (
                this.lastRequestChat.type === "option" &&
                this.lastRequestChat.intent !== ""
            ) {
                // this.sendOption(this.lastRequestChat.intent);
                this.loading = true;
                setTimeout(() => {
                    this.sendNewOption(
                        this.lastRequestChat.intent,
                        this.lastRequestChat.text
                    );
                }, 1000);
            }
            // Si la última llamada fue enviar texto a Simone y falló la volvemos a hacer
            if (
                this.lastRequestChat.type === "agent" &&
                this.lastRequestChat.text !== ""
            ) {
                // this.sendNewMessage(this.lastRequestChat.text);
            }
        });

        // aqui poner logica de cuando se cierra la alerta de interaccion finalizada
        EventBus.$on("closeInteractionFinished", () => {
            this.updateLastMessageOfArray({ alert_type: "" });
            this.saveMessage({ text: "", type: "bot", alert: {}, options: {} });
            this.scrollingPanel(100);
            this.loading = true;
            setTimeout(() => {
                this.updateLastMessageOfArray({
                    text: "¡Hola, otra vez! Espero que nuestro agente haya resuelto todas tus inquietudes. ¿Qué otra consulta necesitas que te ayude a resolver?",
                });
                this.saveLastMessage("chat");
                this.loading = false;
                this.scrollingPanel(100);
            }, 1000);
        });

        EventBus.$on("sendOptionSelected", (option) => {
            this.updateLastMessageOfArray({ options: {} });
            this.saveLastMessage("chat");
            const newMessage = {
                text: option.text,
                type: "client",
                alert: {},
                options: {},
            };
            this.saveMessage(newMessage);
            this.saveMessage({ text: "", type: "bot", alert: {}, options: {} });
            this.scrollingPanel();
            this.loading = true;
            setTimeout(() => {
                this.sendNewOption(option.intent, option.text);
            }, 500);
        });
        // Cierra notificación de cambio de agente
        // Se puede mandar este nombre de evento por prop si se desea hacer algo diferente al cerrar notificación
        EventBus.$on("closeAgentTransferNotification", () => {
            this.showAgentTransfer = false;
        });
        //Manejar logica para derivación de agente desde opciones
        EventBus.$on("toggleAgentDerivationMode", (option) => {
            const outOfTime = this.clientIsOutOfTime();

            this.updateLastMessageOfArray({ options: {} });
            this.saveLastMessage("chat");
            const newMessage = {
                text: option.text,
                type: "client",
                alert: {},
                options: {},
            };
            this.saveMessage(newMessage);
            if (option.show) {
                // si esta dentro del horario
                if (!outOfTime) {
                    // Si no hay suscripcion
                    if (!this.channelSuscription) {
                        this.saveMessage({ text: "", type: "bot" });
                        this.loading = true;
                        setTimeout(() => {
                            this.updateLastMessageOfArray({
                                text: `¡Lo sentimos! No hemos podido derivarte a nuestros agentes. ¿Deseas volver a intentarlo?`,
                                options: { type: "confirmation_agent_derivation" },
                            });
                            this.loading = false;
                            this.saveLastMessage("chat");
                            this.checkChatNotifications();
                            this.scrollingPanel(100);
                        }, 1000);
                    } else {
                        setTimeout(() => {
                            this.startNewAgentDerivation();
                        }, 1000);
                    }
                }
                // si ya esta fuera de horario
                else {
                    const messageOutOfTime = `¡Lo siento! En estos momentos nuestros ejecutivos <b>no se encuentran disponibles.</b>
                <br/><br/>
                Te invitamos a contactarnos de <b>Lunes a Jueves de 8:30 a 18:00 horas y Viernes de 8:30 a 16:00 horas.</b>
                <br/><br/>
                Si eres beneficiario y necesitas orientación médica, <b>llámanos al 600 6000 262 - Opción 3.</b>
                <br/><br/>
                ¿Qué otra consulta necesitas que te ayude a resolver?`;
                    this.saveMessage({ text: "", type: "bot", alert: {}, options: {} });
                    this.loading = true;
                    setTimeout(() => {
                        this.updateLastMessageOfArray({
                            text: messageOutOfTime,
                            options: {},
                            alert_type: "",
                        });
                        this.loading = false;
                        this.saveLastMessage("chat");
                        this.checkChatNotifications();
                    }, 1000);
                    this.scrollingPanel(1000);
                }
            } else {
                this.saveMessage({ text: "", type: "bot", alert: {}, options: {} });
                this.loading = true;
                setTimeout(() => {
                    this.updateLastMessageOfArray({
                        text: "¿Qué otra consulta necesitas que te ayude a resolver?",
                        options: {},
                        alert_type: "",
                    });
                    this.loading = false;
                    this.saveLastMessage("chat");
                    this.checkChatNotifications();
                }, 1000);
                this.scrollingPanel(1000);
            }
            // this.scrollingPanel();
        });
        // maneja la logica para derivacion de agente de genesys
        EventBus.$on("toggleAgentDerivationGenesysMode", (option) => {
            const outOfTime = this.clientIsOutOfTime();

            this.updateLastMessageOfArray({ options: {} });
            this.saveLastMessage("chat");
            const newMessage = {
                text: option.text,
                type: "client",
                alert: {},
                options: {},
            };
            this.saveMessage(newMessage);
            //si selecciono que si quiere derivar
            if (option.show) {
                // si esta dentro del horario
                if (!outOfTime) {
                    // Si no hay suscripcion
                    if (!this.channelSuscription) {
                        this.saveMessage({ text: "", type: "bot" });
                        this.loading = true;
                        setTimeout(() => {
                            this.updateLastMessageOfArray({
                                text: `¡Lo sentimos! No hemos podido derivarte a nuestros agentes. ¿Deseas volver a intentarlo?`,
                                options: { type: "confirmation_agent_derivation" },
                            });
                            this.loading = false;
                            this.saveLastMessage("chat");
                            this.checkChatNotifications();
                            this.scrollingPanel(100);
                        }, 1000);
                    }
                    //iniciar solicitud de derivacion
                    else {
                        setTimeout(() => {
                            this.startNewAgentDerivationGenesys();
                        }, 1000);
                    }
                }
                // si ya esta fuera de horario
                else {
                    const messageOutOfTime = `¡Lo siento! En estos momentos nuestros ejecutivos <b>no se encuentran disponibles.</b>
                <br/><br/>
                Te invitamos a contactarnos de <b>Lunes a Jueves de 8:30 a 18:00 horas y Viernes de 8:30 a 16:00 horas.</b>
                <br/><br/>
                Si eres beneficiario y necesitas orientación médica, <b>llámanos al 600 6000 262 - Opción 3.</b>
                <br/><br/>
                ¿Qué otra consulta necesitas que te ayude a resolver?`;
                    this.saveMessage({ text: "", type: "bot", alert: {}, options: {} });
                    this.loading = true;
                    setTimeout(() => {
                        this.updateLastMessageOfArray({
                            text: messageOutOfTime,
                            options: {},
                            alert_type: "",
                        });
                        this.loading = false;
                        this.saveLastMessage("chat");
                        this.checkChatNotifications();
                    }, 1000);
                    this.scrollingPanel(1000);
                }
            }
            //si selecciono que no quiere derivar
            else {
                this.saveMessage({ text: "", type: "bot", alert: {}, options: {} });
                this.loading = true;
                setTimeout(() => {
                    this.updateLastMessageOfArray({
                        text: "¿Qué otra consulta necesitas que te ayude a resolver?",
                        options: {},
                        alert_type: "",
                    });
                    this.loading = false;
                    this.saveLastMessage("chat");
                    this.checkChatNotifications();
                }, 1000);
                this.scrollingPanel(1000);
            }
        });
        // se ejecuta al abrir el bot con el chat activo
        EventBus.$on("scrollChatPage", () => {
            setTimeout(() => {
                this.autoScrolling();
            }, 500);
        });
        // se ejecuta al abrir el bot con el chat activo
        EventBus.$on("scrollHandler", () => {
            this.scrollingPanel(100);
        });
        EventBus.$on("disableFooterButton", () => {
            this.disabled = true;
        });
        // Gatilla loading cuando se agregan mensajes vacíos desde el store
        EventBus.$on("activateLoading", (value) => {
            this.loading = value;
        });
    },
    updated() {
        handleStyle();
    },
    watch: {
        retryInteraction: function () {
            if (this.retryInteraction) {
                this.irisInteraction = false;
                this.retryInteraction = false;
            }
        },
        agentTyping: function () {
            if (this.agentTyping) {
                setTimeout(() => {
                    let currentLastMessage = this.getLastMessage;
                    if (currentLastMessage.text === "") {
                        this.agentTyping = false;
                        this.deleteLastMessage();
                    }
                }, 5000);
            }
        },
        showAgentTransfer: function () {
            this.changePanelPadding("showAgentTransfer");
        },
        statusChatbot: function () {
            this.notifications = 0;

            if (this.endingInteractionPending) {
                let alertData = getAlertData("agent_interaction_finished");
                alertData.show = true;
                alertData.closeEvent = "closeInteractionFinished";
                this.endingInteractionPending = false;
                this.handleEndingInteractionMessage(alertData);
            }

            if (this.showPendingAgentTransfer) {
                this.showAgentTransfer = true;
                this.showPendingAgentTransfer = false;
                setTimeout(() => {
                    this.showAgentTransfer = false;
                }, 5000);
            }
        },
    },
};
</script>

<style lang="scss" scoped>
@import "../../sass/main.scss";

.chat-container {
    width: 100%;
    height: 100%;
    background-color: $white-color;
    position: absolute;
    z-index: 3;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &-panel {
        z-index: 3;
        position: relative;
        @include panel($white-color,
            $twelfth-size $seventh-size,
            calc(100% - 142px));
        margin-top: -1rem;
    }

    &-agent-derivation {
        display: flex;
        margin: 0 $seventh-size;
        position: absolute;
        bottom: 105px;
        z-index: 4 !important;
    }

    &-agent-transfer {
        display: flex;
        margin: 0 $seventh-size;
        position: absolute;
        bottom: 105px;
        z-index: 4 !important;
    }

    &-footer {
        height: 72px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $light-gray-01-color;
        position: relative;
        background-color: $white-color;
        z-index: 5;
    }

    &-link-primary-color {
        height: 26px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid $light-gray-01-color;
        background-color: $pacific-color;

        & a {
            color: $white-color;
            text-decoration: none;

            &:hover {
                opacity: 90%;
            }
        }

        & p {
            color: $white-color;
        }
    }
}

.block-enter {
    opacity: 0;
}

.block-enter-active {
    transition: opacity 1s;
}

.block-leave-active {
    transition: opacity 1s;
    opacity: 0;
}
</style>
