<template>
  <p v-bind:class="classObject" v-if="!hasTags" class="atom-text">
    {{ text }}
  </p>
  <p v-bind:class="classObject" :id="parrafoId" v-else class="atom-text"></p>
</template>

<script>
import { v4 as uuidv4 } from "uuid";

export default {
  name: "AtomText",
  data: () => ({
    parrafoId: "",
  }),
  computed: {
    classObject: function () {
      return [
        `${this.raleway && "font-raleway"}`,
        `size-${this.size}`,
        `color-${this.color}`,
        `font-weight-${this.weight}`,
        `${this.italic && "font-italic"}`,
      ];
    },
  },
  props: {
    text: {
      required: true,
    },
    raleway: {
      default: false,
    },
    size: {
      default: "paragraph",
    },
    color: {
      default: "dark-gray-01",
    },
    weight: {
      default: "regular",
    },
    italic: {
      default: false,
    },
    hasTags: {
      default: false,
    },
  },
  created() {
    if (this.hasTags) {
      this.parrafoId = `atomText-${uuidv4()}`;
    }
  },
  mounted() {
    if (this.hasTags) {
      const p = document.querySelector(`#${this.parrafoId}`);
      p.innerHTML = this.text;
    }
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/variables.scss";

p {
  margin-bottom: 0 !important;
  z-index: 1 !important;
  display: block;
}

// Fonts
.font-raleway {
  font-family: Raleway, Arial, "Times New Roman";
}

// Sizes
.size-header-1 {
  font-size: $eleventh-size;
}

.size-header-2 {
  font-size: $eighth-size;
}

.size-paragraph {
  font-size: $seventh-size;
}

.size-paragraph-2 {
  font-size: $sixth-size;
}

.size-caption {
  font-size: 0.688rem;
}

.size-caption-2 {
  font-size: 11px;
}

// Colors
.color-primary {
  color: $primary-color;
}

.color-pacific {
  color: $pacific-color;
}

.color-malibu {
  color: $malibu-color;
}

.color-white {
  color: $white-color;
}

.color-dark-gray-01 {
  color: $dark-gray-01-color;
}

.color-dark-gray-02 {
  color: $dark-gray-02-color;
}

.color-dark-gray-03 {
  color: $dark-gray-03-color;
}

.color-light-gray-01 {
  color: $light-gray-01-color;
}

.color-light-gray-02 {
  color: $light-gray-02-color;
}

.color-light-gray-03 {
  color: $light-gray-03-color;
}

.color-red {
  color: $red-color;
}

.color-orange {
  color: $orange-color;
}

.color-lime {
  color: $lime-green-color;
}
</style>