<template>
  <div class="loader">
    <div class="dot-container">
      <transition name="bounce">
        <div v-show="a" class="dot-primary-color dot-a"></div>
      </transition>
    </div>
    <div class="dot-container">
      <transition name="bounce">
        <div v-show="b" class="dot-primary-color dot-b"></div>
      </transition>
    </div>
    <div class="dot-container">
      <transition name="bounce">
        <div v-show="c" class="dot-primary-color dot-c"></div>
      </transition>
    </div>
  </div>
</template>

<script>
export default {
  name: "AtomTyping",
  data: () => ({
    a: true,
    b: false,
    c: false,
  }),
  methods: {
    cycle() {
      const data = this;
      let time = 400;
      const offset = 100;
      setTimeout(() => {
        data.a = false;
        data.b = true;
        data.c = false;
      }, time + offset);
      setTimeout(() => {
        data.a = false;
        data.b = false;
        data.c = true;
      }, time * 2 + offset);
      setTimeout(() => {
        data.a = true;
        data.c = false;
        data.b = false;
      }, time * 2 + offset * 4);
    },
  },
  mounted() {
    this.cycle();
    setInterval(() => {
      this.cycle();
    }, 1200);
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.loader {
  display: flex;
  flex-direction: row;
  min-width: 45px;
}

.dot-container {
  display: flex;
  justify-content: center;
}

.dot-primary-color {
  width: 10px;
  height: 10px;
  margin: 0 2.5px;
  border-radius: 10px;
  background-color: $pacific-color;
}
.bounce-enter-active {
  animation: bounce-in 1.2s;
}
.bounce-leave-active {
  animation: bounce-out 1.2s;
}
@keyframes bounce-in {
  0% {
    transform: scale(0.2);
    opacity: 0;
  }
  50% {
    transform: scale(0.4);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes bounce-out {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(0.4);
    opacity: 0.5;
  }
  100% {
    transform: scale(0.2);
    opacity: 0;
  }
}
</style>