<template>
  <img :class="[isAssistant ? 'assistant' : '']" :src="path" :width="size" />
</template>

<script>
export default {
  name: "AtomAvatar",
  props: {
    path: {
      required: true,
      type: String,
    },
    size: {
      type: String,
      default: "60",
    },
    isAssistant: {
      type: Boolean,
    },
  },
};
</script>

<style scoped land="scss">
.assistant {
  background-color: white;
  border-radius: 50%;
}
</style>