<template>
  <div class="dropdown-container">
    <div class="dropdown-container-actions" @click="showOptions = !showOptions">
      <input
        class="dropdown-container-actions-input"
        readonly
        :value="description ? description : placeholder"
      />
      <div class="dropdown-container-actions-button">
        <MoleculeSvgIcon
          iconName="caret"
          iconColor="pacific"
          :iconRotation="showOptions ? `180` : `0`"
          width="14"
          height="14"
        />
      </div>
    </div>
    <transition
      enter-active-class="animate__animated animate__fadeIn animate__faster"
      leave-active-class="animate__animated animate__fadeOut animate__faster"
    >
      <div v-if="showOptions" class="dropdown-container-options">
        <div
          class="dropdown-container-options-item"
          v-for="(option, index) in options"
          :key="index"
          @click="emitInput(option)"
        >
          <input
            type="radio"
            :id="index"
            name="benefits"
            :value="index"
            :checked="value === option.tpsrwCodigo && true"
          />
          <label :for="index">
            <span>
              <AtomText
                :text="option.tpsrwDescripcion"
                size="paragraph"
                :color="value === option.tpsrwCodigo && `pacific`"
            /></span>
          </label>
        </div>
      </div>
    </transition>
  </div>
</template>

<script>
import { AtomText } from "@/components";
import MoleculeSvgIcon from "./MoleculeSvgIcon.vue";
import { EventBus } from "@/EventBus";

const props = {
  placeholder: {
    type: String,
  },
  action: {
    type: String,
  },
  options: {
    type: Array,
  },
};

export default {
  name: "MoleculeInputDropdown",
  components: {
    MoleculeSvgIcon,
    AtomText,
  },
  data: () => ({
    value: "",
    description: "",
    showOptions: false,
  }),
  props,
  methods: {
    emitInput(option) {
      this.showOptions = false;
      this.value = option.tpsrwCodigo;
      this.description = option.tpsrwDescripcion;
      EventBus.$emit(this.action, this.value);
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.dropdown-container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  cursor: pointer;
  &-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    &-input {
      @include input();
      cursor: pointer;
      width: 100%;
      transition: all 0.3s ease;
      &:hover {
        background-color: $input-hover-color;
      }
    }
    &-button {
      position: absolute;
      right: $eighth-size;
    }
  }
  &-options {
    @include card;
    @include scrollbar($pacific-color);
    overflow-y: auto;
    width: 100%;
    height: 200px;
    padding: $tenth-size;
    position: absolute;
    z-index: 5;
    top: 45px;

    &-item {
      @include radio(pacific);
      display: flex;
      margin-bottom: $sixth-size;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}
</style>