<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    :width="width"
    :height="height"
    :viewBox="getViewBox"
    :aria-labelledby="iconName"
    :style="getRotation"
    v-bind:class="[
      { spin: iconName === 'loading' },
      `${iconColor && `fill-${iconColor}`}`,
    ]"
  >
    <g>
      <AtomCommentDotsIcon v-if="iconName === 'comment-dots'" />
      <AtomArrowIcon v-if="iconName === 'arrow'" />
      <AtomChevronIcon v-if="iconName === 'chevron'" />
      <AtomMinusIcon v-if="iconName === 'minus'" />
      <AtomPaperPlaneIcon v-if="iconName === 'paper-plane'" />
      <AtomPlusIcon v-if="iconName === 'plus'" />
      <AtomClockIcon v-if="iconName === 'clock'" />
      <AtomTrashIcon v-if="iconName === 'trash'" />
      <AtomLoadingIcon v-if="iconName === 'loading'" />
      <AtomCheckIcon v-if="iconName === 'check'" />
      <AtomInfoIcon v-if="iconName === 'info'" />
      <AtomQuestionIcon v-if="iconName === 'question'" />
      <AtomTimesIcon v-if="iconName === 'times'" />
      <AtomPictureIcon v-if="iconName === 'picture' || iconName === ''" />
      <AtomHandDollarIcon v-if="iconName === 'hand-dollar'" />
      <AtomExclamationIcon v-if="iconName === 'exclamation'" />
      <AtomCaretIcon v-if="iconName === 'caret'" />
      <AtomHeadsetIcon v-if="iconName === 'headset'" />
      <AtomTimesInvertIcon v-if="iconName === 'times-invert'" />
    </g>
  </svg>
</template>

<script>
// Icons Components
import {
  AtomCommentDotsIcon,
  AtomArrowIcon,
  AtomChevronIcon,
  AtomMinusIcon,
  AtomPaperPlaneIcon,
  AtomPlusIcon,
  AtomClockIcon,
  AtomTrashIcon,
  AtomLoadingIcon,
  AtomCheckIcon,
  AtomInfoIcon,
  AtomQuestionIcon,
  AtomTimesIcon,
  AtomPictureIcon,
  AtomHandDollarIcon,
  AtomExclamationIcon,
  AtomCaretIcon,
  AtomHeadsetIcon,
  AtomTimesInvertIcon,
} from "@/components";

export default {
  name: "MoleculeSvgIcon",
  components: {
    AtomCommentDotsIcon,
    AtomArrowIcon,
    AtomChevronIcon,
    AtomMinusIcon,
    AtomPaperPlaneIcon,
    AtomPlusIcon,
    AtomClockIcon,
    AtomTrashIcon,
    AtomLoadingIcon,
    AtomCheckIcon,
    AtomInfoIcon,
    AtomQuestionIcon,
    AtomTimesIcon,
    AtomPictureIcon,
    AtomHandDollarIcon,
    AtomExclamationIcon,
    AtomCaretIcon,
    AtomHeadsetIcon,
    AtomTimesInvertIcon
  },
  props: {
    iconName: {
      type: String,
      default: "picture",
    },
    width: {
      type: [Number, String],
      default: 14,
    },
    height: {
      type: [Number, String],
      default: 14,
    },
    iconColor: {
      type: String,
      default: "currentColor",
    },
    iconRotation: {
      type: [Number, String],
      default: null,
    },
  },
  computed: {
    getRotation: function () {
      return `
      transform: rotate(${this.iconRotation}deg) !important;
      -ms-transform: rotate(${this.iconRotation}deg) !important;
      -webkit-transform: rotate(${this.iconRotation}deg) !important;
      -moz-transform: rotate(${this.iconRotation}deg) !important;
      -o-transform: rotate(${this.iconRotation}deg) !important;
      `;
    },
    getViewBox: function () {
      let viewBox = "0 0 ";

      switch (this.iconName) {
        case "hand-dollar":
          viewBox += "576 512";
          break;

        case "arrow":
        case "plus":
        case "minus":
        case "trash":
          viewBox += "448 512";
          break;

        case "chevron":
        case "caret":
          viewBox += "320 512";
          break;
        
        case "times-invert":
          viewBox += "352 512";
          break;

        default:
          viewBox += "512 512";
          break;
      }

      return viewBox;
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/variables.scss";

svg {
  &.spin {
    -webkit-animation: spin 0.8s linear infinite;
    -moz-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
  }

  &.fill-pacific g {
    fill: $pacific-color;
  }

  &.fill-malibu g {
    fill: $malibu-color;
  }

  &.fill-white g {
    fill: $white-color;
  }

  &.fill-dark-gray-01 g {
    fill: $dark-gray-01-color;
  }

  &.fill-dark-gray-02 g {
    fill: $dark-gray-02-color;
  }

  &.fill-dark-gray-03 g {
    fill: $dark-gray-03-color;
  }

  &.fill-light-gray-01 g {
    fill: $light-gray-01-color;
  }

  &.fill-light-gray-02 g {
    fill: $light-gray-02-color;
  }

  &.fill-light-gray-03 g {
    fill: $light-gray-03-color;
  }

  &.fill-red g {
    fill: $red-color;
  }

  &.fill-orange g {
    fill: $orange-color;
  }

  &.fill-lime g {
    fill: $lime-green-color;
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
</style>