<template>
  <div class="input-file-container">
    <div
      v-if="required && !displayedName"
      class="input-file-container-required"
    >
      <AtomText
        :text="requiredMessage"
        size="caption"
        color="red"
        weight="medium"
      />
    </div>
    <label v-show="!displayedName" class="input-file-container-pending">
      <input
        :id="`input-${id}`"
        type="file"
        class="input-file-container-pending-refund-files"
        :data-document="dataDocument"
        accept="image/jpeg,image/png,application/pdf"
        @click="$event.target.value = ''"
        v-on:change="emitFile(`input-${id}`)"
      />
      <MoleculeSvgIcon
        class="input-file-container-pending-icon"
        iconName="plus"
        iconColor="pacific"
        width="12"
        height="14"
      />
      <AtomText
        class="input-file-container-pending-text"
        :text="placeholder"
        color="pacific"
        size="paragraph"
        :hasTags="true"
      />
    </label>
    <label v-show="displayedName" class="input-file-container-done">
      <AtomText
        class="input-file-container-done-text"
        :text="displayedName"
        color="dark-gray-01"
        size="paragraph"
      />
      <div class="input-file-container-done-icon" @click="cancelFile">
        <MoleculeSvgIcon
          iconName="trash"
          iconColor="red"
          width="12"
          height="14"
        />
      </div>
    </label>
    <div v-if="repeatedFile" class="input-file-container-error">
      <AtomText
        :text="errorMessage"
        size="paragraph-2"
        color="red"
        weight="medium"
      />
    </div>
  </div>
</template>

<script>
import { AtomText } from "@/components";
import MoleculeSvgIcon from "./MoleculeSvgIcon.vue";
import MoleculeButton from "./MoleculeButton.vue";
import { EventBus } from "@/EventBus";
import { v4 as uuidv4 } from "uuid";

const props = {
  placeholder: {
    type: String,
  },
  index: {
    type: Number,
    default: null,
  },
  dataDocument: {
    type: String,
    required: true,
  },
  currentFile: {
    type: String,
  },
  primaryAction: {
    type: String,
  },
  secondaryAction: {
    type: String,
  },
  required: {
    type: Boolean,
  },
  disabled: {
    type: Boolean,
  },
  currentFiles: {
    type: Array,
    default: () => [],
  },
};

export default {
  name: "MoleculeInputFile",
  data: () => ({
    selectedFile: {},
    repeatedFile: false,
    errorMessage: "Ya has agregado un documento con el mismo nombre",
    requiredMessage: "Documento requerido",
    allowedLength: 24,
    id: uuidv4(),
  }),
  components: {
    MoleculeSvgIcon,
    MoleculeButton,
    AtomText,
  },
  props,
  computed: {
    fileName: function () {
      if (this.currentFile) {
        return this.currentFile;
      }
    },
    displayedName: function () {
      if (this.currentFile) {
        let newName = this.currentFile;
        if (newName.length > this.allowedLength) {
          return `${newName.slice(0, 12)}...${newName.slice(
            newName.length - 8
          )}`;
        }
        return newName;
      }
    },
  },
  methods: {
    emitFile(id) {
      const input = document.getElementById(id);
      const file = input.files[0];
      this.selectedInput = input;
      this.repeatedFile = false;
      EventBus.$emit(this.primaryAction, { input, file });
    },
    cancelFile() {
      let payload = "";
      this.index !== null
        ? (payload = this.index)
        : (payload = this.currentFile);
      EventBus.$emit(this.secondaryAction, payload);
      EventBus.$emit('forceAvailableFilesText');
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.input-file-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: $fourth-size;
  border-radius: $third-size;
  opacity: 1;
  transition: all 0.3s ease;
  &-done:hover,
  &-pending:hover {
    background-color: $input-hover-color;
  }
  &-required {
    display: flex;
    align-self: center;
  }
  &-pending {
    background-color: $light-gray-02-color;
    display: flex;
    width: 100%;
    height: 100%;
    padding: $third-size 0;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: $first-size dashed $pacific-color;
    border-radius: $third-size;
    box-sizing: border-box;
    display: flex;
    & input[type="file"] {
      display: none;
    }
    &-icon {
      margin-right: $third-size;
      margin-bottom: $first-size;
    }
    &-refund-files {
      display: none;
    }
  }
  &-done {
    background-color: $light-gray-02-color;
    display: flex;
    width: 100%;
    height: 100%;
    padding: $third-size 0;
    border: $first-size solid $light-gray-02-color;
    border-radius: $third-size;
    box-sizing: border-box;
    align-items: center;
    &-text {
      height: 100%;
      margin-left: $sixth-size;
    }
    &-icon {
      height: 100%;
      margin-left: auto;
      margin-right: $sixth-size;
      cursor: pointer;
    }
  }
  &-error {
    @include alert-inline(danger);
    display: flex;
    margin: $third-size 0;
    justify-content: center;
  }
}
</style>