<template>
  <div @click="action" v-bind:class="classObject">
    <MoleculeSvgIcon
      v-if="loading"
      iconName="loading"
      :iconColor="icon.iconColor"
      :width="icon.width"
      :height="icon.height"
    />
    <MoleculeSvgIcon
      v-if="!loading && icon"
      :iconName="typeof icon === 'object' ? icon.icon : icon"
      :iconColor="disabled ? 'dark-gray-03' : icon.iconColor"
      :width="icon.width"
      :height="icon.height"
      :iconRotation="icon.iconRotation"
    />
    <AtomText
      v-if="!loading && text"
      v-bind:text="typeof text === 'object' ? text.text : text"
      :color="disabled ? 'dark-gray-03' : text.color"
      :raleway="text.raleway"
      :size="text.size"
      :weight="text.weight"
      :italic="text.italic"
    />
  </div>
</template>

<script>
import { AtomText } from "@/components";
import MoleculeSvgIcon from "./MoleculeSvgIcon.vue";

const props = {
  onClick: {
    required: true,
    type: Function,
  },
  loading: {
    default: false,
    type: Boolean,
  },
  disabled: {
    default: false,
    type: Boolean,
  },
  // text could be an Object and pass the props to the AtomText, or a String and only pass the text prop
  text: {
    default: "",
    type: [Object, String],
  },
  // icon could be an Object and pass the props to the MoleculeIcon, or a String and only pass the iconName prop
  icon: {
    default: "",
    type: [Object, String],
  },
  /*
    if size is provided: 
      if size === "large": 48px
      if size === "small": 32px
  */
  size: {
    default: "",
    type: String,
  },
  backgroundColor: {
    default: "",
    type: String,
  },
  border: {
    default: "",
    type: String,
  },
  // If FALSE move the icon to the end
  iconStart: {
    default: true,
    type: Boolean,
  },
  // If TRUE display=block
  block: {
    default: false,
    type: Boolean,
  },
  // color of the shadow
  shadow: {
    default: "",
    type: String,
  },
};

export default {
  name: "MoleculeButton",
  props,
  computed: {
    classObject: function () {
      return [
        `container-button`,
        `${
          this.backgroundColor && !this.disabled && !this.loading
            ? `background-color-${this.backgroundColor}`
            : ``
        }`,
        `${this.border ? `with-border` : ``}`,
        `${this.block ? `display-block` : ``}`,
        `${this.border ? `border-color-${this.border}` : ``}`,
        `${!this.iconStart ? `icon-end` : ``}`,
        `${
          !this.text && this.icon
            ? `icon-style`
            : !this.icon && this.text
            ? `text-style`
            : `text-icon-style`
        }`,
        `${
          this.size ? (this.size === "large" ? `size-large` : `size-small`) : ``
        }`,
        `${this.shadow ? `with-shadow-${this.shadow}` : ``}`,
        `${this.loading ? ` loading` : ``}`,
        `${this.disabled ? `disabled` : ``}`,
      ];
    },
  },
  components: {
    AtomText,
    MoleculeSvgIcon,
  },
  methods: {
    action() {
      if (!this.disabled && !this.loading) {
        this.onClick();
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.container-button {
  border-radius: $thirtieth-size;
  display: flex;
  padding: 0 10%;
  height: $twentieth-size;
  width: max-content;
  transition: all 0.3s easy;
  &:hover {
    cursor: pointer;
  }
}

.display-block {
  min-width: 100%;
}

.icon-style {
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  padding: 0;
  width: $twentieth-size;
}

.text-style {
  align-items: center;
  justify-content: center;
}

.text-icon-style {
  align-items: center;
  justify-content: center;
  & svg {
    margin-right: $fifth-size;
  }
}

.size-large {
  width: $twenty-fourth-size; // 48px
  height: $twenty-fourth-size;
}

.size-small {
  width: $sixteenth-size; // 32px
  height: $sixteenth-size;
}

.icon-end {
  flex-direction: row-reverse;
  & p {
    margin-right: $fifth-size !important;
  }
}

// Colors
.background-color-primary {
  background-color: $primary-color;
  &:hover {
    background-color: $primary-hover-color;
  }
}

.background-color-pacific {
  background-color: $pacific-color;
  &:hover {
    background-color: $pacific-hover-color;
  }
}

.background-color-malibu {
  background-color: $malibu-color;
  &:hover {
    background-color: $malibu-hover-color;
  }
}

.background-color-white {
  background-color: $white-color;
  &:hover {
    background-color: $white-hover-color;
  }
}

.background-color-dark-gray-01 {
  background-color: $dark-gray-01-color;
}

.background-color-dark-gray-02 {
  background-color: $dark-gray-02-color;
}

.background-color-dark-gray-03 {
  background-color: $dark-gray-03-color;
}

.background-color-light-gray-01 {
  background-color: $light-gray-01-color;
}

.background-color-light-gray-02 {
  background-color: $light-gray-02-color;
}

.background-color-light-gray-03 {
  background-color: $light-gray-03-color;
}

.background-color-red {
  background-color: $red-color;
  &:hover {
    background-color: $red-hover-color;
  }
}

.background-color-orange {
  background-color: $orange-color;
  &:hover {
    background-color: $orange-hover-color;
  }
}

.background-color-lime {
  background-color: $lime-green-color;
  &:hover {
    background-color: $lime-green-hover-color;
  }
}

// Borders
.with-border {
  border: 2px solid;
  box-sizing: border-box;
}

.border-color-primary {
  border-color: $primary-color;
  &:hover {
    color: $primary-hover-color;
    border-color: $primary-hover-color;
  }
}

.border-color-pacific {
  border-color: $pacific-color;
  &:hover {
    color: $pacific-hover-color;
    border-color: $pacific-hover-color;
  }
}

.border-color-malibu {
  border-color: $malibu-color;
  &:hover {
    color: $malibu-hover-color;
    border-color: $malibu-hover-color;
  }
}

.border-color-white {
  border-color: $white-color;
}

.border-color-dark-gray-01 {
  border-color: $dark-gray-01-color;
}

.border-color-dark-gray-02 {
  border-color: $dark-gray-02-color;
}

.border-color-dark-gray-03 {
  border-color: $dark-gray-03-color;
}

.border-color-light-gray-01 {
  border-color: $light-gray-01-color;
}

.border-color-light-gray-02 {
  border-color: $light-gray-02-color;
}

.border-color-light-gray-03 {
  border-color: $light-gray-03-color;
}

.border-color-red {
  border-color: $red-color;
  &:hover {
    color: $red-hover-color;
    border-color: $red-hover-color;
  }
}

.border-color-orange {
  border-color: $orange-color;
  &:hover {
    color: $orange-hover-color;
    border-color: $orange-hover-color;
  }
}

.border-color-lime {
  border-color: $lime-green-color;
  &:hover {
    color: $lime-green-hover-color;
    border-color: $lime-green-hover-color;
  }
}

// Shadow
.with-shadow-black {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
}

.with-shadow-red {
  box-shadow: 0px 4px 6px rgba(253, 107, 107, 0.25);
}

.with-shadow-pacific {
  box-shadow: 0px 4px 6px $pacific-color;
}

.loading {
  cursor: progress !important;
  opacity: 0.7;
  &:hover {
    background-color: $malibu-color;
  }
}

.disabled,
.disabled:focus,
.disabled:active {
  box-shadow: none;
  pointer-events: none;
  background-color: $light-gray-02-color !important;
  border-color: $light-gray-02-color !important;
}
</style>