<template>
  <div @click="onClick" v-bind:class="classObject">
    <AtomText
      v-if="text"
      v-bind:text="typeof text === 'object' ? text.text : text"
      :color="text.color ? text.color : `white`"
      :raleway="text.raleway ? text.raleway : `true`"
      :size="text.size"
      :weight="text.weight"
      :italic="text.italic"
    />
  </div>
</template>

<script>
import { AtomText } from "@/components";

const props = {
  onClick: {
    required: true,
    type: Function,
  },
  text: {
    required: true,
    type: [Object, String],
  },
  backgroundColor: {
    default: "primary",
    type: String,
  },
};
export default {
  name: "MoleculeOption",
  props,
  computed: {
    classObject: function () {
      return [
        `${this.backgroundColor && `background-color-${this.backgroundColor}`}`,
      ];
    },
  },
  components: {
    AtomText,
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

div {
  border-radius: $third-size;
  display: flex;
  max-width: max-content;
  align-items: center;
  justify-content: center;
  padding: $sixth-size; // 12px - 16px
  transition: all 0.3s easy;
  &:hover {
    cursor: pointer;
  }
  margin: $fourth-size 0;
  &:last-child {
    margin-bottom: 0;
  }
}

// Colors
.background-color-primary {
  background-color: $primary-color;
  &:hover {
    background-color: $primary-hover-color;
  }
}

.background-color-pacific {
  background-color: $pacific-color;
  &:hover {
    background-color: $pacific-hover-color;
  }
}

.background-color-malibu {
  background-color: $malibu-color;
}

.background-color-white {
  background-color: $white-color;
}

.background-color-dark-gray-01 {
  background-color: $dark-gray-01-color;
}

.background-color-dark-gray-02 {
  background-color: $dark-gray-02-color;
}

.background-color-dark-gray-03 {
  background-color: $dark-gray-03-color;
}

.background-color-light-gray-01 {
  background-color: $light-gray-01-color;
}

.background-color-light-gray-02 {
  background-color: $light-gray-02-color;
}

.background-color-light-gray-03 {
  background-color: $light-gray-03-color;
}

.background-color-red {
  background-color: $red-color;
}

.background-color-orange {
  background-color: $orange-color;
}

.background-color-lime {
  background-color: $lime-green-color;
}
</style>