<template>
  <div :class="classObject"></div>
</template>

<script>
import { EventBus } from "../../EventBus";
import { mapState } from "vuex";

export default {
  name: "AtomNotification",
  props: {
    size: {
      type: String,
    },
    emitSound: {
      type: Boolean,
      default: false,
    },
  },
  data: () => ({
    audio: null,
    soundPath: process.env.VUE_APP_URL_NOTIFICATION,
  }),
  computed: {
    ...mapState(["statusChatbot"]),
    classObject: function () {
      return [`size-${this.size}`, "circle", `pulse-${this.size}`, "color"];
    },
  },
  methods: {
    playSound() {
      if (!this.statusChatbot && this.emitSound) {
        this.audio.play();
      }
    },
  },
  created() {
    this.audio = new Audio(this.soundPath);
  },
  mounted() {
    EventBus.$on("playNotificationSound", () => {
      this.playSound();
    });
  },
};
</script>

<style scoped lang="scss">
.size-small {
  width: 10px;
  height: 10px;
}

.size-large {
  width: 15px;
  height: 15px;
}

.circle {
  border-radius: 50%;
  box-shadow: 0px 0px 1px 1px;
}

.pulse-small {
  animation: pulse-small-animation 1s infinite;
}

.pulse-large {
  animation: pulse-large-animation 1s infinite;
}

.color {
  background-color: #fd6b6b;
}

@keyframes pulse-small-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(253, 107, 107, 0.2);
  }
  100% {
    box-shadow: 0 0 0 10px rgba(253, 107, 107, 0);
  }
}

@keyframes pulse-large-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(253, 107, 107, 0.2);
  }
  100% {
    box-shadow: 0 0 0 15px rgba(253, 107, 107, 0);
  }
}
</style>