<template>
  <div>
    <transition-group name="list" v-if="type === `confirmation`">
      <div
        v-show="showOptions"
        key="confirmation-div"
        class="confirmation-container"
        v-click-outside="clickOutSide"
      >
        <MoleculeButton
          class="confirmation-container-option"
          :text="{
            text: options[0].text,
            color: 'pacific',
          }"
          border="pacific"
          :onClick="() => selectResponseAgentDerivationGenesys(options[0])"
        />
        <MoleculeButton
          class="confirmation-container-option"
          :text="{
            text: options[1].text,
            color: 'white',
            weight: 'medium',
          }"
          backgroundColor="pacific"
          :onClick="() => selectResponseAgentDerivationGenesys(options[1])"
        />
      </div>
    </transition-group>
    <transition-group
      name="list"
      v-if="type === `confirmation_agent_derivation`"
    >
      <div
        v-show="showOptions"
        key="confirmation-div"
        class="confirmation-container"
        v-click-outside="clickOutSide"
      >
        <MoleculeButton
          class="confirmation-container-option"
          :onClick="() => selectResponseAgentDerivation(options[0])"
          :text="{
            text: options[0].text,
            color: 'primary',
          }"
          backgroundColor="white"
          border="primary"
        />
        <MoleculeButton
          class="confirmation-container-option"
          :onClick="() => selectResponseAgentDerivation(options[1])"
          :text="{
            text: options[1].text,
            color: 'white',
            weight: 'medium',
          }"
          backgroundColor="primary"
        />
      </div>
    </transition-group>
    <transition-group name="list" v-if="type === `multipleChoice`">
      <div
        v-for="option in this.options"
        :key="option.text"
        v-show="showOptions"
        class="selection-container"
      >
        <MoleculeOption
          class="selection-container-option"
          :onClick="() => selectResponse(option)"
          :text="{
            text: option.text,
            size: 'paragraph-2',
            weight: 'medium',
          }"
        />
      </div>
    </transition-group>
  </div>
</template>

<script>
import MoleculeOption from "./MoleculeOption.vue";
import MoleculeButton from "./MoleculeButton.vue";
import { EventBus } from "@/EventBus";

const props = {
  options: {
    default: () => [
      { text: `No, gracias`, show: false },
      { text: `Sí, por favor`, show: true },
    ],
  },
  type: {
    default: "confirmation",
    type: String,
  },
};
export default {
  name: "MoleculeResponseOptions",
  data: () => ({
    showOptions: true,
    selectedOption: {},
    optionsData: [],
  }),
  props,
  components: {
    MoleculeOption,
    MoleculeButton,
  },
  methods: {
    selectResponse: function (response) {
      this.selectedOption = response;
      this.showOptions = false;
      EventBus.$emit("sendOptionSelected", this.selectedOption);
    },
    // funcion que detecta la respuesta del usuario a la derivacion a agente
    selectResponseAgentDerivation: function (response) {
      this.selectedOption = response;
      this.showOptions = false;
      EventBus.$emit("toggleAgentDerivationMode", this.selectedOption);
    },
    // funcion que detecta la respuesta del usuario a la derivacion a agente de genesys
    selectResponseAgentDerivationGenesys(response) {
      this.selectedOption = response;
      this.showOptions = false;
      EventBus.$emit("toggleAgentDerivationGenesysMode", this.selectedOption);
    },
    clickOutSide() {
      const element = document.querySelector(".confirmation-container");
      element.classList.add(
        "animate__animated",
        "animate__headShake",
        "animate__fast"
      );
      setTimeout(() => {
        element.classList.remove(
          "animate__animated",
          "animate__headShake",
          "animate__fast"
        );
      }, 900);
    },
  },
  created() {
    this.optionsData = this.options;
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.confirmation-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: $seventh-size;
  &-option {
    padding: $fourth-size $eighth-size;
    &:last-child {
      margin-left: $fourth-size;
    }
  }
}

.list-enter-active,
.list-leave-active {
  transition: all 0.5s;
}
.list-enter,
.list-leave-to {
  opacity: 0;
}
</style>