<template>
  <div v-if="!text" class="bot-dialog-box-container">
    <AtomTyping />
  </div>
  <div
    v-else
    :class="[
      type === 'bot' || type === 'agent'
        ? 'bot-dialog-box-container'
        : 'client-dialog-box-container-primary-color',
    ]"
  >
    <div>
      <AtomText
        :text="text"
        :raleway="true"
        size="paragraph-2"
        weight="medium"
        v-if="type === 'bot' || type === 'agent'"
        :hasTags="true"
      />
      <AtomText
        :text="text"
        color="white"
        weight="medium"
        :raleway="true"
        size="paragraph-2"
        v-else-if="type === 'client'"
      />
    </div>
    <div
      v-if="agentTransfer && agentName"
      class="bot-dialog-box-container-agent"
    >
      <AtomText
        :text="agentName"
        :raleway="true"
        :italic="true"
        size="caption-2"
        weight="light"
      />
    </div>
  </div>
</template>

<script>
import { AtomTyping, AtomText, AtomAvatar } from "@/components";
import { mapState } from "vuex";

export default {
  name: "MoleculeDialogBox",
  components: { AtomTyping, AtomText, AtomAvatar },
  data: () => ({
    agentName: "",
  }),
  props: {
    type: {
      type: String,
      default: "bot",
    },
    text: {
      type: String,
    },
  },
  computed: {
    ...mapState(["agent", "agentTransfer"]),
  },
  mounted() {
    if (this.type === "agent") {
      const { firstName, lastName } = this.agent;
      if (firstName && lastName) {
        if (firstName.includes(" ")) {
          const nameArray = firstName.split(" ");
          const firstNameInitial = nameArray[0];
          const nameInitials = [];
          nameArray.map((name, index) => {
            if (index > 0) {
              nameInitials.push(`${name[0]}.`);
            }
          });
          this.agentName = `${firstNameInitial} ${nameInitials}., ${lastName[0]}.`;
        } else {
          this.agentName = `${firstName} ${lastName[0]}.`;
        }
      }
    }
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.bot-dialog-box-container,
.client-dialog-box-container-primary-color {
  padding: $sixth-size;
  line-height: 1.3;
  overflow-wrap: break-word;
  word-break: break-word;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  @include scrollbar($malibu-color);
}
.bot-dialog-box-container {
  background-color: $bubble-background;
  border-radius: 0px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  &-agent {
    margin-top: 4px;
  }
}

.client-dialog-box-container-primary-color {
  background-color: $pacific-color;
  border-radius: 10px 10px 0px 10px;
  margin-left: auto;
}
</style>