<template>
  <div>
    <AtomText
      text="Header"
      :raleway="true"
      size="caption"
      color="red"
      weight="bold"
      :italic="true"
    />
  </div>
</template>

<script>
import { AtomText } from "@/components";
export default {
  name: "MoleculeHeader",
  components: {
    AtomText
  },
};
</script>

<style>
</style>