<template>
  <input
    class="input-container"
    type="text"
    v-bind:value="value"
    v-on:input="emitInput($event.target.value)"
    :placeholder="placeholder"
  />
</template>

<script>
import { EventBus } from "@/EventBus";

const props = {
  placeholder: {
    type: String,
  },
  action: {
    type: String,
  },
  disabled: {
    type: Boolean,
  },
};

export default {
  name: "MoleculeInputText",
  data: () => ({
    value: "",
  }),
  props,
  methods: {
    emitInput(value) {
      EventBus.$emit(this.action, value);
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.input-container {
  display: flex;
  background-color: $light-gray-02-color;
  border-radius: $thirtieth-size;
  border: 2px solid;
  border-color: $white-color;
  padding: $sixth-size $eighth-size;
  flex-grow: 1;
  font-size: $seventh-size;
  color: $dark-gray-01-color;
  &:hover {
    opacity: 0.9;
  }
  &:focus {
    outline: none;
    border: 2px solid;
    border-color: $pacific-color;
    box-sizing: border-box;
    caret-color: $pacific-color;
  }
}
</style>