<template>
  <div class="header-container">
    <div class="header-container-actions">
      <MoleculeButton
        :onClick="closeBotWindow"
        v-bind:icon="{
          icon: 'minus',
          iconColor: 'white',
          width: 18,
          height: 18,
        }"
        size="small"
      />
    </div>
    <div class="header-container-body">
      <div class="header-container-body-avatar">
        <AtomAvatar :path="assistantPathSVG" :isAssistant="true" size="50" />
      </div>
      <div class="header-container-body-description">
        <AtomText
          :text="avatarName"
          color="white"
          size="header-1"
          weight="medium"
        />
        <AtomText
          :text="description"
          color="white"
          size="paragraph"
          weight="medium"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { AtomAvatar, AtomText } from "@/components";
import MoleculeButton from "./../molecules/MoleculeButton.vue";
import { EventBus } from "./../../EventBus";

export default {
  name: "MoleculeHomeHeader",
  data: () => ({
    avatarName: "Chatbot",
    description: "Asistente Virtual",
    assistantPathSVG: process.env.VUE_APP_URL_IMAGE_ASSISTANT,
  }),
  components: {
    AtomAvatar,
    AtomText,
    MoleculeButton,
  },
  methods: {
    closeBotWindow() {
      EventBus.$emit("closeBotWindow");
    },
  },
  created() {
    if (process.env.VUE_APP_ASSISTANT_NAME) {
      this.avatarName = process.env.VUE_APP_ASSISTANT_NAME;
    }
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main";

.header-container {
  height: 132px;
  width: 100%;
  // background-image: url($path-background-header);
  background-color: $pacific-color;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  &-actions {
    padding: 0 $fourth-size;
    height: 40px; //Temporal
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &-body {
    height: calc(100% - 40px);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 $twelfth-size $twelfth-size $twelfth-size;

    &-avatar {
      display: flex;
      margin-right: $fourth-size;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    &-description {
      line-height: 1.2;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      height: 100%;
    }
  }
}
</style>