<template>
  <div
    class="containerBot"
    v-if="type === 'bot' || type === 'agent' || type === 'alert'"
  >
    <AtomAvatar :path="assistantPathSVG" size="30" v-if="type === 'bot'" />
    <AtomAvatar :path="agentPathSVG" size="30" v-else-if="type === 'agent'" />
    <div class="dialogBoxTextContainer">
      <MoleculeDialogBox
        v-if="type !== 'alert'"
        :text="text"
        :type="type"
        class="dialogBoxText"
      />
      <!-- Cuando assistant no entiende y responde con varias opciones -->
      <div v-if="options">
        <MoleculeResponseOptions
          v-if="options.type === `multipleChoice`"
          type="multipleChoice"
          :options="options.options"
        />
        <MoleculeResponseOptions
          v-if="options.type === `confirmation`"
          type="confirmation"
        />
        <MoleculeResponseOptions
          v-if="options.type === `confirmation_agent_derivation`"
          type="confirmation_agent_derivation"
        />
      </div>
      <!-- Status del ultimo mensaje -->
      <AtomText
        :text="statusLastMessage"
        size="caption"
        color="dark-gray-02"
        v-if="isLastMessage && type !== 'alert'"
        class="statusMessage"
      />
      <!-- ALERTAS (Modificar al implementar la lógica)-->
      <div
        v-if="alert !== undefined && alert.show"
        class="alert"
        :style="{
          marginLeft: type === 'alert' && '38px',
          marginTop: type === 'alert' && 0,
        }"
      >
        <OrganismAlertCard
          :mode="alert.mode"
          :title="alert.title"
          :description="alert.description"
          :descriptionList="alert.descriptionList"
          :backgroundColor="alert.backgroundColor"
          :closeEvent="alert.closeEvent"
        />
      </div>
      <!-- Alerta al terminar el reembolso -->
      <OrganismAlertCard
        v-if="finalAlert"
        mode="question"
        title="¿Qué deseas hacer ahora?"
        :refundActions="true"
        backgroundColor="pacific"
        class="alert"
        :animation="false"
      />
    </div>
  </div>
  <div class="containerClient" v-else-if="type === 'client'">
    <MoleculeDialogBox :text="text" :type="type" />
  </div>
</template>

<script>
import { AtomAvatar, AtomText } from "@/components/atoms";
import {
  MoleculeResponseOptions,
  MoleculeDialogBox,
} from "@/components/molecules";
import OrganismAlertCard from "./OrganismAlertCard.vue";
import { EventBus } from "@/EventBus";

const props = {
  avatar: {
    type: String,
    default: "assistant",
  },
  type: {
    type: String,
    default: "bot",
  },
  text: {
    type: String,
  },
  options: {
    type: Object,
  },
  loading: {
    type: Boolean,
    default: true,
  },
  isLastMessage: {
    type: Boolean,
    default: true,
  },
  statusLastMessage: {
    type: String,
    default: "Ahora",
  },
  alert: {
    type: Object,
    default: () => {},
  },
  finalAlert: {
    type: Boolean,
    default: false,
  },
  agentDerivation: {
    type: Boolean,
    default: false,
  },
};

export default {
  name: "OrganismChatDialog",
  components: {
    MoleculeDialogBox,
    AtomAvatar,
    AtomText,
    MoleculeResponseOptions,
    OrganismAlertCard,
  },
  props,
  data: () => ({
    multipleChoice: true,
    confirmation: true,
    assistantPathSVG: process.env.VUE_APP_URL_IMAGE_ASSISTANT,
    agentPathSVG: process.env.VUE_APP_URL_IMAGE_AGENT,
  }),
  mounted() {
    if (this.alert !== undefined && this.alert.show) {
      EventBus.$emit("showAlert", true);
    } else {
      EventBus.$emit("showAlert", false);
    }
  },
  watch: {
    alert: function () {
      if (this.alert !== undefined && this.alert.show) {
        EventBus.$emit("showAlert", true);
      } else {
        EventBus.$emit("showAlert", false);
      }
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/variables.scss";

.containerBot,
.containerClient {
  max-width: 90%;
  margin-bottom: $eighth-size;
  -webkit-overflow-scrolling: touch;
  & .statusMessage {
    margin: $second-size;
  }
}
.containerBot {
  display: flex;
  align-self: flex-start;
  & img {
    display: flex;
    align-self: flex-start;
    margin-right: 8px;
  }
}
.containerClient {
  display: flex;
  text-align: right;
  align-self: flex-end;
  margin-left: auto;
}

.dialogBoxTextContainer {
  display: flex;
  flex-direction: column;
  width: -moz-available;
}

.dialogBoxText {
  min-width: min-content;
  max-height: max-content;
  min-height: min-content;
}

.rut-form,
.data-form,
.alert {
  margin-top: $fifth-size;
}
</style>