<template>
  <div class="agent-derivation-container">
    <div class="agent-derivation-container-icon">
      <div
        class="agent-derivation-container-icon-wrapper animate__animated animate__tada animate__infinite"
      >
        <MoleculeSvgIcon
          iconColor="white"
          iconName="headset"
          width="20"
          height="20"
        />
        <span class="agent-derivation-container-icon-wrapper-secondary">
          <MoleculeSvgIcon
            iconColor="orange"
            iconName="clock"
            width="16"
            height="16"
          />
        </span>
      </div>
    </div>
    <div class="agent-derivation-container-description">
      <AtomText
        text="Estamos esperando la atención de un ejecutivo."
        color="pacific"
        size="paragraph-2"
        weight="bold"
        :raleway="true"
        class="agent-derivation-container-description-title"
      />
      <AtomText
        text="Por favor, espera unos momentos..."
        color="pacific"
        size="caption"
        weight="medium"
        :raleway="true"
      />
    </div>
  </div>
</template>

<script>
import { AtomText } from "@/components/atoms";
import { MoleculeSvgIcon } from "@/components/molecules";

export default {
  name: "OrganismAgentDerivation",
  components: {
    MoleculeSvgIcon,
    AtomText,
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.agent-derivation-container {
  padding: $fourth-size;
  border-radius: $fifth-size;
  background-color: #e5f3f9;
  border: 1px solid #43b2e2;
  display: flex;
  -webkit-box-shadow: -1px 0px 8px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 0px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 0px 8px -2px rgba(0, 0, 0, 0.3);

  &-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: $third-size;
    &-wrapper {
      position: relative;
      height: $nineteenth-size;
      width: $nineteenth-size;
      border-radius: 50%;
      background-color: $pacific-color;
      display: flex;
      justify-content: center;
      align-items: center;

      &-secondary {
        background-color: white;
        height: $tenth-size;
        width: $tenth-size;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid #e5f3f9;
        position: absolute;
        top: -8px;
        right: -5px;
        border-radius: 50%;
      }
    }
  }

  &-description {
    display: flex;
    flex-direction: column;
    padding: $second-size $fourth-size;
    line-height: 1.3;
    justify-content: center;

    &-title {
      margin-bottom: $second-size !important;
    }
  }
}
</style>