<template>
  <div class="input-container">
    <div class="input-container-label">
      <AtomText
        v-if="label"
        :text="typeof label === 'object' ? label.text : label"
        :color="label.color"
        :raleway="true"
        :size="label.size"
        :weight="label.weight"
        :italic="label.italic"
      />
    </div>
    <div class="input-container-actions">
      <MoleculeInputText />
      <MoleculeButton
        v-if="action"
        :onClick="action"
        :icon="{
          icon: 'paper-plane',
          iconColor: 'white',
          width: 18,
          height: 18,
        }"
        backgroundColor="pacific"
      />
    </div>
  </div>
</template>

<script>
import { MoleculeInputText, MoleculeButton, AtomText } from "@/components";
import { EventBus } from "@/EventBus";

const props = {
  label: {
    default: "",
    type: String,
  },
  action: {
    default: "",
  },
};

export default {
  name: "OrganismInputText",
  components: {
    MoleculeInputText,
    MoleculeButton,
    AtomText,
  },
  props,
  mounted() {
    EventBus.$on("input-text", (value) => {});
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.input-container {
  display: flex;
  flex-direction: column;
  &-label {
    width: 90%;
    margin-left: $eighth-size;
    margin-bottom: $third-size;
  }
  &-actions {
    display: flex;
    height: fit-content;
    align-items: center;
  }
}
</style>