<template>
  <div class="header-container-primary-color">
    <div class="header-container-primary-color-actions">
      <div class="container-return-home-button">
        <MoleculeNotification
          size="small"
          class="container-return-home-button-notification"
          v-show="hasNotification"
        />
      </div>
    </div>
    <div class="header-container-primary-color-avatar">
      <AtomAvatar
        :path="
          page === 'chat' && agent.id === null ? assistantPathSVG : agentPathSVG
        "
        :isAssistant="page === 'chat' ? true : false"
        size="43"
      />
    </div>
    <div class="header-container-primary-color-title">
      <AtomText
        :text="
          page === 'chat' && agent.id === null
            ? assistantName
            : page === 'chat' && agent.id !== null
            ? `${
                !agent.firstName || !agent.lastName
                  ? 'Ejecutivo'
                  : `${agent.firstName} ${agent.lastName.charAt()}.`
              }`
            : 'Solicitud de reembolso'
        "
        size="header-2"
        color="white"
        weight="medium"
      />
      <AtomText
        :text="description"
        size="paragraph-2"
        color="white"
        weight="medium"
      />
    </div>
    <div class="header-container-primary-color-close-icon">
      <MoleculeButton
        :onClick="closeBotWindow"
        v-bind:icon="{
          icon: 'minus',
          iconColor: 'white',
          width: 18,
          height: 18,
        }"
        size="small"
      />
    </div>
  </div>
</template>

<script>
import {
  MoleculeButton,
  AtomAvatar,
  AtomText,
  MoleculeNotification,
} from "@/components";
import { EventBus } from "../../EventBus";
import { mapState } from "vuex";

export default {
  name: "OrganismGeneralHeader",
  components: { MoleculeButton, AtomAvatar, AtomText, MoleculeNotification },
  props: {
    page: {
      required: true,
      type: String,
    },
  },
  data: () => ({
    assistantName: process.env.VUE_APP_ASSISTANT_NAME || "Assistant",
    assistantPathSVG: process.env.VUE_APP_URL_IMAGE_ASSISTANT,
    agentPathSVG: process.env.VUE_APP_URL_IMAGE_AGENT,
    hasNotification: false,
    description:
      process.env.VUE_APP_ASSISTANT_DESCRIPTION || "Asistente Virtual",
  }),
  computed: {
    ...mapState(["agent"]),
  },
  methods: {
    closeBotWindow() {
      EventBus.$emit("closeBotWindow");
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.header-container-primary-color {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90px;
  max-height: 90px;
  min-height: 90px;
  padding: 0 $seventh-size $fifth-size $seventh-size;
  // background-image: url($path-background-header);
  background-color: $pacific-color;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  &-actions,
  &-avatar,
  &-title {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: center;
  }
  &-actions {
    margin-right: $second-size;
  }
  &-avatar {
    margin-right: $fifth-size;
  }

  &-close-icon {
    position: absolute;
    top: $second-size;
    right: $fourth-size;
  }
}
.container-return-home-button {
  position: relative;
  &-notification {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
</style>