<template>
  <div class="modal-container">
    <v-overlay :value="isOpen">
      <v-bottom-sheet
        v-model="isOpen"
        persistent
        hide-overlay
        attach=".modal-container"
        class="modal-container-sheet"
      >
        <v-sheet class="modal-container-sheet-wrapper">
          <div class="modal-container-sheet-wrapper-body">
            <div class="modal-container-sheet-wrapper-body-icon">
              <MoleculeSvgIcon
                iconColor="white"
                iconName="question"
                width="140"
                height="140"
                iconRotation="27"
              />
            </div>
            <div class="modal-container-sheet-wrapper-body-content">
              <div class="content-icon">
                <MoleculeSvgIcon
                  iconColor="white"
                  iconName="question"
                  width="30"
                  height="30"
                />
              </div>
              <div class="content-title">
                <AtomText
                  text="¿Deseas cancelar la solicitud?"
                  color="white"
                  size="paragraph"
                  weight="bold"
                />
              </div>
              <div class="content-description">
                <AtomText
                  text="No podrás acceder a esta solicitud nuevamente."
                  color="white"
                  size="paragraph-2"
                  weight="bold"
                  :raleway="true"
                />
              </div>
              <div class="content-actions">
                <MoleculeButton
                  :onClick="cancelModal"
                  v-bind:text="{
                    text: 'No',
                    color: 'white',
                    size: 'paragraph',
                    weight: 'medium',
                  }"
                  border="white"
                  background-color="red"
                  class="content-actions-button"
                />
                <MoleculeButton
                  :onClick="actionModal"
                  v-bind:text="{
                    text: 'Sí, Cancelar',
                    color: 'red',
                    size: 'paragraph',
                    weight: 'medium',
                  }"
                  border="white"
                  background-color="white"
                  class="content-actions-button"
                />
              </div>
            </div>
          </div>
        </v-sheet>
      </v-bottom-sheet>
    </v-overlay>
  </div>
</template>

<script>
import { AtomText } from "@/components/atoms";
import { MoleculeButton, MoleculeSvgIcon } from "@/components/molecules";
import { EventBus } from "./../../EventBus";

export default {
  name: "OrganismModal",
  components: {
    MoleculeSvgIcon,
    MoleculeButton,
    AtomText,
  },
  data: () => ({
    isOpen: false
  }),
  props: {
    open: {
      type: Boolean,
      default: false,
    },
    primaryEvent: {
      type: String,
      default: "actionModal"
    },
    secondaryEvent: {
      type: String,
      default: "closeModal"
    }
  },
  methods: {
    cancelModal() {
      EventBus.$emit(this.secondaryEvent);
    },
    actionModal() {
      EventBus.$emit(this.primaryEvent);
    }
  },
  watch: {
    'open': function () {
      this.isOpen = !this.isOpen;
    }
  }
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.modal-container {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;

  & .v-overlay{
    position: absolute !important;
    & .v-dialog__content {
      position: relative !important;
    }
  }

  &-sheet {
    box-shadow: none !important;

    &-wrapper {
      height: max-content;
      width: 100%;
      color: $white-color !important;
      text-align: center;
      background-color: $red-color !important;
      border-top-left-radius: $tenth-size !important;
      border-top-right-radius: $tenth-size !important;

      &-body {
        width: 100%;
        height: 100%;
        padding: $twelfth-size $tenth-size;
        position: relative;
        overflow: hidden;
        border-top-left-radius: $tenth-size !important;
        border-top-right-radius: $tenth-size !important;

        &-icon {
          position: absolute;
          top: -30px;
          right: -30px;
          opacity: 0.2;
        }

        &-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .content-icon {
                margin-bottom: $fifth-size;
            }

            & .content-title {
                margin-bottom: $second-size;
            }

            & .content-description {
                margin-bottom: $twelfth-size;
            }

            & .content-actions {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                &-button {
                    width: 48%;
                }
            }
            
        }
      }
    }
  }
}
</style>