<template>
  <div>
    <AtomText text="input" />
  </div>
</template>

<script>
import { AtomText } from "@/components";
export default {
  name: "OrganismInput",
  components: {
    AtomText,
  },
};
</script>

<style>
</style>