<template>
  <div
    class="chat-footer-container"
    :class="{
      'chat-footer-container-skeleton': showSkeleton,
      disabled: inputDisabled && disabled,
    }"
  >
    <input
      class="chat-footer-container-input-primary"
      type="text"
      :value="value"
      v-on:input="emitInput($event.target.value)"
      @keypress.enter="action"
      placeholder="Envia un mensaje..."
      :disabled="inputDisabled"
    />
    <MoleculeButton
      class="chat-footer-container-button"
      :onClick="action"
      :icon="{
        icon: 'paper-plane',
        iconColor: 'white',
        width: 16,
        height: 16,
        iconRotation: loading ? null : 32,
      }"
      backgroundColor="primary"
      :loading="loading"
      :disabled="loading ? false : disabled"
    />
  </div>
</template>

<script>
import { MoleculeInputText, MoleculeButton, AtomText } from "@/components";
import { EventBus } from "@/EventBus";
import { handleStyle } from "@/utils/globalStyle";

const props = {
  label: {
    default: "",
    type: String,
  },
  loading: {
    type: Boolean,
  },
  disabled: {
    type: Boolean,
  },
  value: {
    type: String,
  },
  action: {
    default: "",
    required: true,
  },
  inputDisabled: {
    type: Boolean,
  },
  showSkeleton: {
    type: Boolean,
    default: false,
  },
};

export default {
  name: "OrganismChatFooter",
  components: {
    MoleculeInputText,
    MoleculeButton,
    AtomText,
  },
  props,
  methods: {
    emitInput(value) {
      EventBus.$emit("chat-input-text", value);
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.chat-footer-container {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 0 $seventh-size;
  &.disabled {
    cursor: not-allowed;
    input {
      cursor: not-allowed !important;
    }
  }
  &-input-primary {
    @include input();
    flex-grow: 1;
  }
  &-button {
    margin-left: $fourth-size;
  }
}
</style>