<template>
  <div class="organism-input-file-container">
    <div class="organism-input-file-container-files">
      <div
        v-if="benefit === 'E'"
        class="organism-input-file-container-files-receipt"
      >
        <MoleculeInputFile
          placeholder="Orden médica <small>(requerido)</small>"
          dataDocument="medical-order"
          primaryAction="add-order"
          secondaryAction="delete-order"
          :currentFile="orderFile ? orderFile.name : ''"
        />
      </div>
      <div class="organism-input-file-container-files-others">
        <div
          v-for="(file, index) in currentFiles"
          :key="index"
          class="organism-input-file-container-files-others-list"
        >
          <MoleculeInputFile
            :currentFile="
              currentFiles[index] ? currentFiles[index].file.name : ''
            "
            placeholder="Otro"
            :index="index"
            primaryAction="add-file"
            secondaryAction="delete-file"
            :currentFiles="currentFiles"
            dataDocument="other"
          />
        </div>
        <MoleculeInputFile
          v-if="availablesFilesAmount"
          class="organism-input-file-container-files-others-new"
          placeholder="Otro"
          primaryAction="add-file"
          secondaryAction="delete-file"
          :currentFiles="currentFiles"
          type="input"
          dataDocument="other"
        />
        <div
          v-if="repeatedFile"
          class="organism-input-file-container-files-others-error"
        >
          <AtomText
            :text="errorMessage"
            size="paragraph-2"
            color="red"
            weight="medium"
          />
        </div>
        <div class="organism-input-file-container-files-others-message">
          <AtomText
            :text="
              benefit === 'E'
                ? 3 - availablesFilesAmount + '/3 documentos opcionales.'
                : 4 - availablesFilesAmount + '/4 documentos opcionales.'
            "
            size="caption"
            color="dark-gray-02"
            :key="componentKey"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { AtomText, MoleculeInputFile } from "@/components";
import { EventBus } from "@/EventBus";

const props = {
  placeholder: {
    type: String,
  },
  benefit: {
    type: String,
  },
  currentFile: {
    type: String,
  },
  primaryAction: {
    type: String,
  },
  secondaryAction: {
    type: String,
  },
  disabled: {
    type: Boolean,
  },
  orderFile: {},
  currentFiles: {
    type: Array,
    default: () => [],
  },
  availablesFilesAmount: {
    type: Number,
  },
};

export default {
  name: "OrganismInputFile",
  data: () => ({
    errorMessage: "Ya has agregado un documento con el mismo nombre.",
    allowedLength: 25,
    repeatedFile: false,
    componentKey: 0,
  }),
  components: {
    AtomText,
    MoleculeInputFile,
  },
  props,
  methods: {
    forceRerender() {
      this.componentKey += 1;
    },
  },
  mounted() {
    EventBus.$on("repeated-file", (value) => {
      this.repeatedFile = value;
    });
    EventBus.$on("forceAvailableFilesText", () => {
      this.forceRerender();
    });
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.organism-input-file-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: $fourth-size 0;
  border-radius: $third-size;
  &-files {
    display: flex;
    flex-direction: column;
    &-others {
      &-new {
        margin-bottom: $third-size;
      }
      &-list {
        display: flex;
        flex-direction: column-reverse;
      }
      &-message {
        display: flex;
        justify-content: flex-end;
      }
      &-error {
        @include alert-inline(danger);
        display: flex;
        margin: $third-size 0;
        justify-content: center;
      }
    }
  }
}
</style>