<template>
  <div class="agent-transfer-container">
    <MoleculeSvgIcon
      iconColor="white"
      iconName="info"
      width="26"
      height="26"
      class="agent-transfer-container-icon-first"
    />
    <AtomText
      text="Te hemos transferido a otro ejecutivo para brindarte una mejor atención."
      color="white"
      size="paragraph-2"
      weight="medium"
      :raleway="true"
      class="agent-transfer-container-description"
    />
    <span class="agent-transfer-container-icon-last" @click="close()">
      <MoleculeSvgIcon
        iconColor="white"
        iconName="times-invert"
        width="14"
        height="14"
      />
    </span>
  </div>
</template>

<script>
import { AtomText } from "@/components/atoms";
import { MoleculeSvgIcon } from "@/components/molecules";
import { EventBus } from "./../../EventBus";

export default {
  name: "OrganismAgentTransfer",
  components: {
    MoleculeSvgIcon,
    AtomText,
  },
  props: {
    closeEvent: {
      type: String,
      default: 'closeAgentTransferNotification'
    }
  },
  methods: {
    close() {
      EventBus.$emit(this.closeEvent);
    },
  }
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.agent-transfer-container {
  padding: $fourth-size;
  border-radius: $fifth-size;
  background-color: $dark-gray-01-color;
  display: flex;
  align-items: center;
  -webkit-box-shadow: -1px 0px 8px -2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -1px 0px 8px -2px rgba(0, 0, 0, 0.3);
  box-shadow: -1px 0px 8px -2px rgba(0, 0, 0, 0.3);

  &-icon-first {
    margin: 0 $second-size;
  }

  &-description {
    line-height: 1.3;
    padding: $second-size $fourth-size;
  }

  &-icon-last {
    align-self: flex-start;
    margin-left: $fourth-size;
    cursor: pointer;
  }
}
</style>