<template>
  <div
    class="card-alert-container"
    :class="[
      `${
        this.backgroundColor && `card-alert-container-${this.backgroundColor}`
      }`,
      animation
        ? `animate__animated animate__faster animate__${animationClass}`
        : ``,
    ]"
    v-click-outside="clickOutSide"
  >
    <div class="card-alert-container-body">
      <div class="card-alert-container-body-icon">
        <MoleculeSvgIcon
          iconColor="white"
          :iconName="getIcon"
          width="80"
          height="80"
          iconRotation="27"
        />
      </div>
      <div class="card-alert-container-body-content">
        <div class="card-alert-container-body-content-title">
          <AtomText
            :text="title"
            color="white"
            size="paragraph"
            weight="bold"
          />
        </div>
        <div
          v-if="description !== ''"
          class="card-alert-container-body-content-description"
        >
          <AtomText
            :text="description"
            color="white"
            size="paragraph-2"
            weight="medium"
            :raleway="true"
            :hasTags="true"
          />
        </div>
        <div
          v-if="descriptionList.length > 0"
          class="card-alert-container-body-content-description-list"
        >
          <AtomText
            v-for="(item, index) in descriptionList"
            :key="index"
            :text="item"
            color="white"
            size="paragraph-2"
            weight="medium"
            :raleway="true"
            :hasTags="true"
            class="card-alert-container-body-content-description-list-item"
          />
        </div>
        <div class="card-alert-container-body-content-actions">
          <MoleculeButton
            v-if="!refundActions"
            :onClick="closeAlert"
            v-bind:text="{
              text: 'OK',
              color: backgroundColor,
              size: 'paragraph',
              weight: 'medium',
            }"
            background-color="white"
            class="card-alert-container-body-content-actions-button card-alert-container-body-content-actions-button-default"
          />
          <MoleculeButton
            v-if="refundActions"
            :onClick="startNewRefound"
            v-bind:icon="{
              icon: 'plus',
              iconColor: backgroundColor,
              width: 14,
              height: 14,
            }"
            v-bind:text="{
              text: 'Solicitar nuevo reembolso',
              color: backgroundColor,
              size: 'paragraph',
              weight: 'medium',
            }"
            :block="true"
            background-color="white"
            class="card-alert-container-body-content-actions-button"
          />
          <MoleculeButton
            v-if="refundActions"
            :onClick="talkWithAssistant"
            v-bind:icon="{
              icon: 'paper-plane',
              iconColor: 'white',
              width: 14,
              height: 14,
              iconRotation: 32,
            }"
            v-bind:text="{
              text: `Conversar con ${assistantName}`,
              color: 'white',
              size: 'paragraph',
              weight: 'medium',
            }"
            :block="true"
            :background-color="backgroundColor"
            class="card-alert-container-body-content-actions-button"
            border="white"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { AtomText } from "@/components/atoms";
import { MoleculeButton, MoleculeSvgIcon } from "@/components/molecules";
import { EventBus } from "./../../EventBus";

export default {
  name: "OrganismAlertCard",
  components: {
    MoleculeSvgIcon,
    MoleculeButton,
    AtomText,
  },
  props: {
    mode: {
      type: String,
      default: "question",
    },
    backgroundColor: {
      type: String,
      default: "pacific",
    },
    title: {
      type: String,
      default: "",
    },
    description: {
      type: String,
      default: "",
    },
    descriptionList: {
      type: Array,
      default: () => [],
    },
    refundActions: {
      type: Boolean,
      default: false,
    },
    closeEvent: {
      type: String,
      default: "",
    },
    animation: {
      type: Boolean,
      default: true,
    },
  },
  data: () => ({
    animationClass: "zoomIn",
    assistantName: process.env.VUE_APP_ASSISTANT_NAME || "Assistant",
  }),
  methods: {
    closeAlert() {
      this.animationClass = "zoomOut";
      setTimeout(() => {
        EventBus.$emit(this.closeEvent);
        this.animationClass = "zoomIn";
      }, 500);
    },
    startNewRefound() {
      EventBus.$emit("startNewRefound");
    },
    talkWithAssistant() {
      EventBus.$emit("talkWithAssistant");
    },
    clickOutSide() {
      const element = document.querySelector(
        ".card-alert-container-body-content-actions-button-default"
      );
      element.classList.add(
        "animate__animated",
        "animate__headShake",
        "animate__fast"
      );
      setTimeout(() => {
        element.classList.remove(
          "animate__animated",
          "animate__headShake",
          "animate__fast"
        );
      }, 900);
    },
  },
  computed: {
    getIcon: function () {
      let icon = "";

      switch (this.mode) {
        case "danger":
          icon = "times";
          break;

        case "info":
          icon = "info";
          break;

        case "warning":
          icon = "exclamation";
          break;

        default:
          icon = "question";
          break;
      }

      return icon;
    },
  },
};
</script>

<style scoped lang="scss">
@import "../../sass/main.scss";

.card-alert-container {
  height: max-content;
  width: 100%;
  color: $white-color;
  text-align: center;
  background-color: $pacific-color;
  border-radius: $fifth-size;

  &-red {
    background-color: $red-color;
  }

  &-pacific {
    background-color: $pacific-color;
  }

  &-orange {
    background-color: $orange-color;
  }

  &-body {
    width: 100%;
    height: 100%;
    padding: $tenth-size;
    position: relative;
    overflow: hidden;

    &-icon {
      position: absolute;
      top: -15px;
      right: -15px;
      opacity: 0.2;
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-title {
        line-height: 1.3;
      }

      &-description {
        margin-top: $fifth-size;
        line-height: 1.3;
      }

      &-description-list {
        line-height: 1.3;

        &-item {
          margin: $third-size 0;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      &-actions {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: $third-size;

        &-button {
          margin-top: $seventh-size;
          padding: 0;
        }

        &-button:first-child {
          margin-top: $fourth-size;
          align-self: center;
          width: 40%;
        }
      }
    }
  }
}
</style>