<template>
  <div id="innovit" class="container-root">
    <v-app :id="idApp">
      <v-main>
        <v-menu
          v-model="showBot"
          :close-on-click="false"
          :close-on-content-click="false"
          transition="slide-y-reverse-transition"
        >
          <template v-slot:activator="{ attrs }">
            <v-btn
              icon
              v-bind="attrs"
              fixed
              class="chatbot-trigger-button"
              id="avatarButton"
              @click="changeChatbotVisibility"
            >
              <div class="container-avatar-button" v-if="!showBot">
                <MoleculeNotification
                  v-show="showNotification"
                  class="container-avatar-button-notification"
                  size="large"
                  :emitSound="true"
                />
                <AtomAvatar
                  :path="assistantPathSVG"
                  :isAssistant="true"
                  size="60"
                />
              </div>
            </v-btn>
          </template>

          <v-card class="chatbot-container">
            <ChatPage />
          </v-card>
        </v-menu>
      </v-main>
    </v-app>
  </div>
</template>

<script>
import {
  MoleculeButton,
  AtomAvatar,
  ChatPage,
  MoleculeNotification,
} from "@/components";
import { EventBus } from "./EventBus";
import { v4 as uuidv4 } from "uuid";
import { mapMutations, mapState, mapGetters } from "vuex";
import { handleStyle } from "@/utils/globalStyle";

export default {
  name: "App",
  components: {
    ChatPage,
    AtomAvatar,
    MoleculeButton,
    MoleculeNotification,
  },
  data: () => ({
    showBot: false,
    showChat: false,
    showContentChat: false,
    assistantPathSVG: process.env.VUE_APP_URL_IMAGE_ASSISTANT,
    idApp: `chatbot-${uuidv4()}`,
    showNotification: false,
    connection: null,
  }),
  methods: {
    ...mapMutations(["changeStatusChatbot", "updateHasNotification"]),
    changeChatbotVisibility() {
      this.showBot = !this.showBot;
      this.changeStatusChatbot();
      this.checkActivePageNotification();
    },
    checkActivePageNotification() {
      if (this.showBot) {
        this.updateHasNotification({ type: "chat", show: false });
        EventBus.$emit("scrollChatPage");
      }
    },
  },
  mounted() {
    EventBus.$on("closeBotWindow", () => {
      this.changeChatbotVisibility();
    });
  },
  created() {
    /* console.log("Starting connection to WebSocket Server");
    this.connection = new WebSocket(
      "wss://streaming.mypurecloud.com/channels/streaming-3-omsdltreaming-3-omsdlo5s82ie8uj8epkiq3rf2r"
    );

    this.connection.onmessage = function (event) {
      console.log(event);
    };

    this.connection.onopen = function (event) {
      console.log(event);
      console.log("Successfully connected to the echo websocket server...");
    };

    this.connection.onerror = function (error) {
      console.log("error", error);
    }; */

    this.$store.watch((state) => {
      this.showNotification = false;
      if (!this.showBot && state.hasNotification.chat) {
        this.showNotification = true;
      }
    });
  },
  updated() {
    handleStyle();
  },
};
</script>
<style scoped lang="scss">
@import "./sass/main";

.container-root {
  position: absolute;
}

.container-avatar-button {
  position: relative;
  &-notification {
    position: absolute;
    top: 0px;
    right: 3px;
  }
}

.v-menu__content {
  z-index: 2147483000 !important;
  top: 0px;
  left: 0px;
  bottom: 20px;
  right: 20px;
  min-height: 250px;
  height: 500px;
  width: 340px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 40px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 40px;
}

.chatbot-trigger-button {
  right: 25px !important;
  bottom: 25px !important;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 40px;
  -moz-box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 40px;
}

.chatbot-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media screen and (max-width: 480px) {
  .v-menu__content {
    z-index: 2147483000 !important;
    width: 100% !important;
    height: 100% !important;
    max-height: none;
    max-width: 100vw;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    border-radius: 0 !important;
    position: fixed;
    overflow: hidden;
  }
  .chatbot-container {
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
  }
}
</style>